# Generate doc files
*.doc.html

# Generated CSS file
melange.css

# Generated stuff
dist

# FUCK this directory with every fiber of my being
node_modules

# FUCK this FILE wiht every fiber of my being
package-lock.json
