:root {
/*
 * Font Scale
 *
 * Font scale, with size 2 being the body font size
 */
--mg-fs1: 0.875rem;
--mg-fs2: 1rem;
--mg-fs3: 1.25rem;
--mg-fs4: 1.5rem;
--mg-fs5: 2.25rem;
--mg-fs6: 3rem;
--mg-fs7: 5rem;
--mg-fs8: 6rem;

/*
 * Fonts
 *
 * Fonts to use for sans, serif, etc.
 */
--mg-ffsans: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
--mg-ffserif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
--mg-ffmono: 'Nimbus Mono PS', 'Courier New', monospace;
--mg-ffcursive: 'Snell Roundhand', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
--mg-fffantasy: 'Party Let', fantasy;

/*
 * Spacing
 *
 * Spacing scale for margins, paddings, widths, positions, etc.
 */
--mg-sp1: 0.25rem;
--mg-sp2: 0.5rem;
--mg-sp3: 1rem;
--mg-sp4: 2rem;
--mg-sp5: 4rem;
--mg-sp6: 8rem;
--mg-sp7: 18rem;

/*
 * Blue
 *
 * Tints/Shades for blue
 */
--mg-bluelightest: #EBF2FC;
--mg-bluelight: #86B2EB;
--mg-blue: #357EDD;
--mg-bluedark: #204C85;
--mg-bluedarkest: #102642;

/*
 * Gray
 *
 * Tints/Shades for gray
 */
--mg-graylightest: #F5F5F5;
--mg-graylight: #ADADAD;
--mg-gray: #999999;
--mg-graydark: #5C5C5C;
--mg-graydarkest: #1F1F1F;

/*
 * Green
 *
 * Tints/Shades for green
 */
--mg-greenlightest: #E8F6F1;
--mg-greenlight: #75CBAC;
--mg-green: #19A974;
--mg-greendark: #0F6546;
--mg-greendarkest: #073323;

/*
 * Orange
 *
 * Tints/Shades for orange
 */
--mg-orangelightest: #FFEFE6;
--mg-orangelight: #FFA166;
--mg-orange: #FF6300;
--mg-orangedark: #CC4F00;
--mg-orangedarkest: #803200;

/*
 * Purple
 *
 * Tints/Shades for purple
 */
--mg-purplelightest: #EFEAF6;
--mg-purplelight: #8E6BC0;
--mg-purple: #5E2CA5;
--mg-purpledark: #421F73;
--mg-purpledarkest: #261242;

/*
 * Red
 *
 * Tints/Shades for red
 */
--mg-redlightest: #FFDFDF;
--mg-redlight: #FF8D86;
--mg-red: #FF4136;
--mg-reddark: #E7040F;
--mg-reddarkest: #80211b;

/*
 * Yellow
 *
 * Tints/Shades for yellow
 */
--mg-yellowlightest: #FFFBE6;
--mg-yellowlight: #FFE766;
--mg-yellow: #FFD700;
--mg-yellowdark: #B39700;
--mg-yellowdarkest: #665600;

}
