/*
 * Screens larger than the mobile size but smaller than what is considered large (e.g. tablets)
 */
@media screen and (min-width: 30em) and (max-width: 60em) {
.f-l-m {
  float: left;
}
.f-r-m {
  float: right;
}
.f-n-m {
  float: none;
}
.pa-0-m {
  padding: 0;
}
.pa-1-m {
  padding: var(--mg-sp-1);
}
.pa-2-m {
  padding: var(--mg-sp-2);
}
.pa-3-m {
  padding: var(--mg-sp-3);
}
.pa-4-m {
  padding: var(--mg-sp-4);
}
.pa-5-m {
  padding: var(--mg-sp-5);
}
.pa-6-m {
  padding: var(--mg-sp-6);
}
.pa-7-m {
  padding: var(--mg-sp-7);
}
.pa-8-m {
  padding: var(--mg-sp-8);
}
.pl-0-m {
  padding-left: 0;
}
.pl-1-m {
  padding-left: var(--mg-sp-1);
}
.pl-2-m {
  padding-left: var(--mg-sp-2);
}
.pl-3-m {
  padding-left: var(--mg-sp-3);
}
.pl-4-m {
  padding-left: var(--mg-sp-4);
}
.pl-5-m {
  padding-left: var(--mg-sp-5);
}
.pl-6-m {
  padding-left: var(--mg-sp-6);
}
.pl-7-m {
  padding-left: var(--mg-sp-7);
}
.pl-8-m {
  padding-left: var(--mg-sp-8);
}
.pr-0-m {
  padding-right: 0;
}
.pr-1-m {
  padding-right: var(--mg-sp-1);
}
.pr-2-m {
  padding-right: var(--mg-sp-2);
}
.pr-3-m {
  padding-right: var(--mg-sp-3);
}
.pr-4-m {
  padding-right: var(--mg-sp-4);
}
.pr-5-m {
  padding-right: var(--mg-sp-5);
}
.pr-6-m {
  padding-right: var(--mg-sp-6);
}
.pr-7-m {
  padding-right: var(--mg-sp-7);
}
.pr-8-m {
  padding-right: var(--mg-sp-8);
}
.pt-0-m {
  padding-top: 0;
}
.pt-1-m {
  padding-top: var(--mg-sp-1);
}
.pt-2-m {
  padding-top: var(--mg-sp-2);
}
.pt-3-m {
  padding-top: var(--mg-sp-3);
}
.pt-4-m {
  padding-top: var(--mg-sp-4);
}
.pt-5-m {
  padding-top: var(--mg-sp-5);
}
.pt-6-m {
  padding-top: var(--mg-sp-6);
}
.pt-7-m {
  padding-top: var(--mg-sp-7);
}
.pt-8-m {
  padding-top: var(--mg-sp-8);
}
.pb-0-m {
  padding-bottom: 0;
}
.pb-1-m {
  padding-bottom: var(--mg-sp-1);
}
.pb-2-m {
  padding-bottom: var(--mg-sp-2);
}
.pb-3-m {
  padding-bottom: var(--mg-sp-3);
}
.pb-4-m {
  padding-bottom: var(--mg-sp-4);
}
.pb-5-m {
  padding-bottom: var(--mg-sp-5);
}
.pb-6-m {
  padding-bottom: var(--mg-sp-6);
}
.pb-7-m {
  padding-bottom: var(--mg-sp-7);
}
.pb-8-m {
  padding-bottom: var(--mg-sp-8);
}
.ph-0-m {
  padding-left: 0;
  padding-right: 0;
}
.ph-1-m {
  padding-left: var(--mg-sp-1);
  padding-right: var(--mg-sp-1);
}
.ph-2-m {
  padding-left: var(--mg-sp-2);
  padding-right: var(--mg-sp-2);
}
.ph-3-m {
  padding-left: var(--mg-sp-3);
  padding-right: var(--mg-sp-3);
}
.ph-4-m {
  padding-left: var(--mg-sp-4);
  padding-right: var(--mg-sp-4);
}
.ph-5-m {
  padding-left: var(--mg-sp-5);
  padding-right: var(--mg-sp-5);
}
.ph-6-m {
  padding-left: var(--mg-sp-6);
  padding-right: var(--mg-sp-6);
}
.ph-7-m {
  padding-left: var(--mg-sp-7);
  padding-right: var(--mg-sp-7);
}
.ph-8-m {
  padding-left: var(--mg-sp-8);
  padding-right: var(--mg-sp-8);
}
.pv-0-m {
  padding-top: 0;
  padding-bottom: 0;
}
.pv-1-m {
  padding-top: var(--mg-sp-1);
  padding-bottom: var(--mg-sp-1);
}
.pv-2-m {
  padding-top: var(--mg-sp-2);
  padding-bottom: var(--mg-sp-2);
}
.pv-3-m {
  padding-top: var(--mg-sp-3);
  padding-bottom: var(--mg-sp-3);
}
.pv-4-m {
  padding-top: var(--mg-sp-4);
  padding-bottom: var(--mg-sp-4);
}
.pv-5-m {
  padding-top: var(--mg-sp-5);
  padding-bottom: var(--mg-sp-5);
}
.pv-6-m {
  padding-top: var(--mg-sp-6);
  padding-bottom: var(--mg-sp-6);
}
.pv-7-m {
  padding-top: var(--mg-sp-7);
  padding-bottom: var(--mg-sp-7);
}
.pv-8-m {
  padding-top: var(--mg-sp-8);
  padding-bottom: var(--mg-sp-8);
}
.ma-0-m {
  margin: 0;
}
.ma-1-m {
  margin: var(--mg-sp-1);
}
.ma-2-m {
  margin: var(--mg-sp-2);
}
.ma-3-m {
  margin: var(--mg-sp-3);
}
.ma-4-m {
  margin: var(--mg-sp-4);
}
.ma-5-m {
  margin: var(--mg-sp-5);
}
.ma-6-m {
  margin: var(--mg-sp-6);
}
.ma-7-m {
  margin: var(--mg-sp-7);
}
.ma-8-m {
  margin: var(--mg-sp-8);
}
.ma-auto-m {
  margin: auto;
}
.ml-0-m {
  margin-left: 0;
}
.ml-1-m {
  margin-left: var(--mg-sp-1);
}
.ml-2-m {
  margin-left: var(--mg-sp-2);
}
.ml-3-m {
  margin-left: var(--mg-sp-3);
}
.ml-4-m {
  margin-left: var(--mg-sp-4);
}
.ml-5-m {
  margin-left: var(--mg-sp-5);
}
.ml-6-m {
  margin-left: var(--mg-sp-6);
}
.ml-7-m {
  margin-left: var(--mg-sp-7);
}
.ml-8-m {
  margin-left: var(--mg-sp-8);
}
.ml-auto-m {
  margin-left: auto;
}
.mr-0-m {
  margin-right: 0;
}
.mr-1-m {
  margin-right: var(--mg-sp-1);
}
.mr-2-m {
  margin-right: var(--mg-sp-2);
}
.mr-3-m {
  margin-right: var(--mg-sp-3);
}
.mr-4-m {
  margin-right: var(--mg-sp-4);
}
.mr-5-m {
  margin-right: var(--mg-sp-5);
}
.mr-6-m {
  margin-right: var(--mg-sp-6);
}
.mr-7-m {
  margin-right: var(--mg-sp-7);
}
.mr-8-m {
  margin-right: var(--mg-sp-8);
}
.mr-auto-m {
  margin-right: auto;
}
.mt-0-m {
  margin-top: 0;
}
.mt-1-m {
  margin-top: var(--mg-sp-1);
}
.mt-2-m {
  margin-top: var(--mg-sp-2);
}
.mt-3-m {
  margin-top: var(--mg-sp-3);
}
.mt-4-m {
  margin-top: var(--mg-sp-4);
}
.mt-5-m {
  margin-top: var(--mg-sp-5);
}
.mt-6-m {
  margin-top: var(--mg-sp-6);
}
.mt-7-m {
  margin-top: var(--mg-sp-7);
}
.mt-8-m {
  margin-top: var(--mg-sp-8);
}
.mt-auto-m {
  margin-top: auto;
}
.mb-0-m {
  margin-bottom: 0;
}
.mb-1-m {
  margin-bottom: var(--mg-sp-1);
}
.mb-2-m {
  margin-bottom: var(--mg-sp-2);
}
.mb-3-m {
  margin-bottom: var(--mg-sp-3);
}
.mb-4-m {
  margin-bottom: var(--mg-sp-4);
}
.mb-5-m {
  margin-bottom: var(--mg-sp-5);
}
.mb-6-m {
  margin-bottom: var(--mg-sp-6);
}
.mb-7-m {
  margin-bottom: var(--mg-sp-7);
}
.mb-8-m {
  margin-bottom: var(--mg-sp-8);
}
.mb-auto-m {
  margin-bottom: auto;
}
.mh-0-m {
  margin-left: 0;
  margin-right: 0;
}
.mh-1-m {
  margin-left: var(--mg-sp-1);
  margin-right: var(--mg-sp-1);
}
.mh-2-m {
  margin-left: var(--mg-sp-2);
  margin-right: var(--mg-sp-2);
}
.mh-3-m {
  margin-left: var(--mg-sp-3);
  margin-right: var(--mg-sp-3);
}
.mh-4-m {
  margin-left: var(--mg-sp-4);
  margin-right: var(--mg-sp-4);
}
.mh-5-m {
  margin-left: var(--mg-sp-5);
  margin-right: var(--mg-sp-5);
}
.mh-6-m {
  margin-left: var(--mg-sp-6);
  margin-right: var(--mg-sp-6);
}
.mh-7-m {
  margin-left: var(--mg-sp-7);
  margin-right: var(--mg-sp-7);
}
.mh-8-m {
  margin-left: var(--mg-sp-8);
  margin-right: var(--mg-sp-8);
}
.mh-auto-m {
  margin-left: auto;
  margin-right: auto;
}
.mv-0-m {
  margin-top: 0;
  margin-bottom: 0;
}
.mv-1-m {
  margin-top: var(--mg-sp-1);
  margin-bottom: var(--mg-sp-1);
}
.mv-2-m {
  margin-top: var(--mg-sp-2);
  margin-bottom: var(--mg-sp-2);
}
.mv-3-m {
  margin-top: var(--mg-sp-3);
  margin-bottom: var(--mg-sp-3);
}
.mv-4-m {
  margin-top: var(--mg-sp-4);
  margin-bottom: var(--mg-sp-4);
}
.mv-5-m {
  margin-top: var(--mg-sp-5);
  margin-bottom: var(--mg-sp-5);
}
.mv-6-m {
  margin-top: var(--mg-sp-6);
  margin-bottom: var(--mg-sp-6);
}
.mv-7-m {
  margin-top: var(--mg-sp-7);
  margin-bottom: var(--mg-sp-7);
}
.mv-8-m {
  margin-top: var(--mg-sp-8);
  margin-bottom: var(--mg-sp-8);
}
.mv-auto-m {
  margin-top: auto;
  margin-bottom: auto;
}
.gap-0-m {
  gap: 0;
}
.gap-1-m {
  gap: var(--mg-sp-1);
}
.gap-2-m {
  gap: var(--mg-sp-2);
}
.gap-3-m {
  gap: var(--mg-sp-3);
}
.gap-4-m {
  gap: var(--mg-sp-4);
}
.gap-5-m {
  gap: var(--mg-sp-5);
}
.gap-6-m {
  gap: var(--mg-sp-6);
}
.gap-7-m {
  gap: var(--mg-sp-7);
}
.gap-8-m {
  gap: var(--mg-sp-8);
}
.row-gap-0-m {
  row-gap: 0;
}
.row-gap-1-m {
  row-gap: var(--mg-sp-1);
}
.row-gap-2-m {
  row-gap: var(--mg-sp-2);
}
.row-gap-3-m {
  row-gap: var(--mg-sp-3);
}
.row-gap-4-m {
  row-gap: var(--mg-sp-4);
}
.row-gap-5-m {
  row-gap: var(--mg-sp-5);
}
.row-gap-6-m {
  row-gap: var(--mg-sp-6);
}
.row-gap-7-m {
  row-gap: var(--mg-sp-7);
}
.row-gap-8-m {
  row-gap: var(--mg-sp-8);
}
.col-gap-0-m {
  column-gap: 0;
}
.col-gap-1-m {
  column-gap: var(--mg-sp-1);
}
.col-gap-2-m {
  column-gap: var(--mg-sp-2);
}
.col-gap-3-m {
  column-gap: var(--mg-sp-3);
}
.col-gap-4-m {
  column-gap: var(--mg-sp-4);
}
.col-gap-5-m {
  column-gap: var(--mg-sp-5);
}
.col-gap-6-m {
  column-gap: var(--mg-sp-6);
}
.col-gap-7-m {
  column-gap: var(--mg-sp-7);
}
.col-gap-8-m {
  column-gap: var(--mg-sp-8);
}
.w-1-m {
  width: calc(2 * var(--mg-sp-1));
}
.w-2-m {
  width: calc(2 * var(--mg-sp-2));
}
.w-3-m {
  width: calc(2 * var(--mg-sp-3));
}
.w-4-m {
  width: calc(2 * var(--mg-sp-4));
}
.w-5-m {
  width: calc(2 * var(--mg-sp-5));
}
.w-6-m {
  width: calc(2 * var(--mg-sp-6));
}
.w-7-m {
  width: calc(2 * var(--mg-sp-7));
}
.w-8-m {
  width: calc(2 * var(--mg-sp-8));
}
.w-10-m {
  width: 10%;
}
.w-20-m {
  width: 20%;
}
.w-25-m {
  width: 25%;
}
.w-30-m {
  width: 30%;
}
.w-40-m {
  width: 40%;
}
.w-50-m {
  width: 50%;
}
.w-60-m {
  width: 60%;
}
.w-70-m {
  width: 70%;
}
.w-75-m {
  width: 75%;
}
.w-80-m {
  width: 80%;
}
.w-90-m {
  width: 90%;
}
.w-100-m {
  width: 100%;
}
.w-third-m {
  width: calc(100% / 3);
}
.w-two-thirds-m {
  width: calc(100% / 1.5);
}
.w-10vw-m {
  width: 10vw;
}
.w-20vw-m {
  width: 20vw;
}
.w-30vw-m {
  width: 30vw;
}
.w-40vw-m {
  width: 40vw;
}
.w-50vw-m {
  width: 50vw;
}
.w-60vw-m {
  width: 60vw;
}
.w-70vw-m {
  width: 70vw;
}
.w-80vw-m {
  width: 80vw;
}
.w-90vw-m {
  width: 90vw;
}
.w-100vw-m {
  width: 100vw;
}
.w-auto-m {
  width: auto;
}
.mw-1-m {
  max-width: calc(2 * var(--mg-sp-1));
}
.mw-2-m {
  max-width: calc(2 * var(--mg-sp-2));
}
.mw-3-m {
  max-width: calc(2 * var(--mg-sp-3));
}
.mw-4-m {
  max-width: calc(2 * var(--mg-sp-4));
}
.mw-5-m {
  max-width: calc(2 * var(--mg-sp-5));
}
.mw-6-m {
  max-width: calc(2 * var(--mg-sp-6));
}
.mw-7-m {
  max-width: calc(2 * var(--mg-sp-7));
}
.mw-8-m {
  max-width: calc(2 * var(--mg-sp-8));
}
.mw-10-m {
  max-width: 10%;
}
.mw-20-m {
  max-width: 20%;
}
.mw-25-m {
  max-width: 25%;
}
.mw-30-m {
  max-width: 30%;
}
.mw-40-m {
  max-width: 40%;
}
.mw-50-m {
  max-width: 50%;
}
.mw-60-m {
  max-width: 60%;
}
.mw-70-m {
  max-width: 70%;
}
.mw-75-m {
  max-width: 75%;
}
.mw-80-m {
  max-width: 80%;
}
.mw-90-m {
  max-width: 90%;
}
.mw-100-m {
  max-width: 100%;
}
.mw-third-m {
  max-width: calc(100% / 3);
}
.mw-two-thirds-m {
  max-width: calc(100% / 1.5);
}
.mw-10vw-m {
  max-width: 10vw;
}
.mw-20vw-m {
  max-width: 20vw;
}
.mw-30vw-m {
  max-width: 30vw;
}
.mw-40vw-m {
  max-width: 40vw;
}
.mw-50vw-m {
  max-width: 50vw;
}
.mw-60vw-m {
  max-width: 60vw;
}
.mw-70vw-m {
  max-width: 70vw;
}
.mw-80vw-m {
  max-width: 80vw;
}
.mw-90vw-m {
  max-width: 90vw;
}
.mw-100vw-m {
  max-width: 100vw;
}
.mw-auto-m {
  max-width: auto;
}
.minw-1-m {
  min-width: calc(2 * var(--mg-sp-1));
}
.minw-2-m {
  min-width: calc(2 * var(--mg-sp-2));
}
.minw-3-m {
  min-width: calc(2 * var(--mg-sp-3));
}
.minw-4-m {
  min-width: calc(2 * var(--mg-sp-4));
}
.minw-5-m {
  min-width: calc(2 * var(--mg-sp-5));
}
.minw-6-m {
  min-width: calc(2 * var(--mg-sp-6));
}
.minw-7-m {
  min-width: calc(2 * var(--mg-sp-7));
}
.minw-8-m {
  min-width: calc(2 * var(--mg-sp-8));
}
.minw-10-m {
  min-width: 10%;
}
.minw-20-m {
  min-width: 20%;
}
.minw-25-m {
  min-width: 25%;
}
.minw-30-m {
  min-width: 30%;
}
.minw-40-m {
  min-width: 40%;
}
.minw-50-m {
  min-width: 50%;
}
.minw-60-m {
  min-width: 60%;
}
.minw-70-m {
  min-width: 70%;
}
.minw-75-m {
  min-width: 75%;
}
.minw-80-m {
  min-width: 80%;
}
.minw-90-m {
  min-width: 90%;
}
.minw-100-m {
  min-width: 100%;
}
.minw-third-m {
  min-width: calc(100% / 3);
}
.minw-two-thirds-m {
  min-width: calc(100% / 1.5);
}
.minw-10vw-m {
  min-width: 10vw;
}
.minw-20vw-m {
  min-width: 20vw;
}
.minw-30vw-m {
  min-width: 30vw;
}
.minw-40vw-m {
  min-width: 40vw;
}
.minw-50vw-m {
  min-width: 50vw;
}
.minw-60vw-m {
  min-width: 60vw;
}
.minw-70vw-m {
  min-width: 70vw;
}
.minw-80vw-m {
  min-width: 80vw;
}
.minw-90vw-m {
  min-width: 90vw;
}
.minw-100vw-m {
  min-width: 100vw;
}
.minw-auto-m {
  min-width: auto;
}
.h-1-m {
  height: calc(2 * var(--mg-sp-1));
}
.h-2-m {
  height: calc(2 * var(--mg-sp-2));
}
.h-3-m {
  height: calc(2 * var(--mg-sp-3));
}
.h-4-m {
  height: calc(2 * var(--mg-sp-4));
}
.h-5-m {
  height: calc(2 * var(--mg-sp-5));
}
.h-6-m {
  height: calc(2 * var(--mg-sp-6));
}
.h-7-m {
  height: calc(2 * var(--mg-sp-7));
}
.h-8-m {
  height: calc(2 * var(--mg-sp-8));
}
.h-10-m {
  height: 10%;
}
.h-20-m {
  height: 20%;
}
.h-25-m {
  height: 25%;
}
.h-30-m {
  height: 30%;
}
.h-40-m {
  height: 40%;
}
.h-50-m {
  height: 50%;
}
.h-60-m {
  height: 60%;
}
.h-70-m {
  height: 70%;
}
.h-75-m {
  height: 75%;
}
.h-80-m {
  height: 80%;
}
.h-90-m {
  height: 90%;
}
.h-100-m {
  height: 100%;
}
.h-third-m {
  height: calc(100% / 3);
}
.h-two-thirds-m {
  height: calc(100% / 1.5);
}
.h-10vh-m {
  height: 10vh;
}
.h-20vh-m {
  height: 20vh;
}
.h-30vh-m {
  height: 30vh;
}
.h-40vh-m {
  height: 40vh;
}
.h-50vh-m {
  height: 50vh;
}
.h-60vh-m {
  height: 60vh;
}
.h-70vh-m {
  height: 70vh;
}
.h-80vh-m {
  height: 80vh;
}
.h-90vh-m {
  height: 90vh;
}
.h-100vh-m {
  height: 100vh;
}
.h-auto-m {
  height: auto;
}
.max-height-1-m {
  max-height: calc(2 * var(--mg-sp-1));
}
.max-height-2-m {
  max-height: calc(2 * var(--mg-sp-2));
}
.max-height-3-m {
  max-height: calc(2 * var(--mg-sp-3));
}
.max-height-4-m {
  max-height: calc(2 * var(--mg-sp-4));
}
.max-height-5-m {
  max-height: calc(2 * var(--mg-sp-5));
}
.max-height-6-m {
  max-height: calc(2 * var(--mg-sp-6));
}
.max-height-7-m {
  max-height: calc(2 * var(--mg-sp-7));
}
.max-height-8-m {
  max-height: calc(2 * var(--mg-sp-8));
}
.max-height-10-m {
  max-height: 10%;
}
.max-height-20-m {
  max-height: 20%;
}
.max-height-25-m {
  max-height: 25%;
}
.max-height-30-m {
  max-height: 30%;
}
.max-height-40-m {
  max-height: 40%;
}
.max-height-50-m {
  max-height: 50%;
}
.max-height-60-m {
  max-height: 60%;
}
.max-height-70-m {
  max-height: 70%;
}
.max-height-75-m {
  max-height: 75%;
}
.max-height-80-m {
  max-height: 80%;
}
.max-height-90-m {
  max-height: 90%;
}
.max-height-100-m {
  max-height: 100%;
}
.max-height-third-m {
  max-height: calc(100% / 3);
}
.max-height-two-thirds-m {
  max-height: calc(100% / 1.5);
}
.max-height-10vh-m {
  max-height: 10vh;
}
.max-height-20vh-m {
  max-height: 20vh;
}
.max-height-30vh-m {
  max-height: 30vh;
}
.max-height-40vh-m {
  max-height: 40vh;
}
.max-height-50vh-m {
  max-height: 50vh;
}
.max-height-60vh-m {
  max-height: 60vh;
}
.max-height-70vh-m {
  max-height: 70vh;
}
.max-height-80vh-m {
  max-height: 80vh;
}
.max-height-90vh-m {
  max-height: 90vh;
}
.max-height-100vh-m {
  max-height: 100vh;
}
.max-height-auto-m {
  max-height: auto;
}
.content-box-m {
  box-sizing: content-box;
}
.border-box-m {
  box-sizing: border-box;
}
.pos-static-m {
  position: static;
}
.pos-relative-m {
  position: relative;
}
.pos-absolute-m {
  position: absolute;
}
.pos-fixed-m {
  position: fixed;
}
.top-0-m {
  top: 0;
}
.top-1-m {
  top: var(--mg-sp-1);
}
.top-2-m {
  top: var(--mg-sp-2);
}
.top-3-m {
  top: var(--mg-sp-3);
}
.top-4-m {
  top: var(--mg-sp-4);
}
.top-5-m {
  top: var(--mg-sp-5);
}
.top-6-m {
  top: var(--mg-sp-6);
}
.top-7-m {
  top: var(--mg-sp-7);
}
.top-8-m {
  top: var(--mg-sp-8);
}
.top--1-m {
  top: calc(-1 * var(--mg-sp-1));
}
.top--2-m {
  top: calc(-1 * var(--mg-sp-2));
}
.top--3-m {
  top: calc(-1 * var(--mg-sp-3));
}
.top--4-m {
  top: calc(-1 * var(--mg-sp-4));
}
.top--5-m {
  top: calc(-1 * var(--mg-sp-5));
}
.top--6-m {
  top: calc(-1 * var(--mg-sp-6));
}
.top--7-m {
  top: calc(-1 * var(--mg-sp-7));
}
.top--8-m {
  top: calc(-1 * var(--mg-sp-8));
}
.left-0-m {
  left: 0;
}
.left-1-m {
  left: var(--mg-sp-1);
}
.left-2-m {
  left: var(--mg-sp-2);
}
.left-3-m {
  left: var(--mg-sp-3);
}
.left-4-m {
  left: var(--mg-sp-4);
}
.left-5-m {
  left: var(--mg-sp-5);
}
.left-6-m {
  left: var(--mg-sp-6);
}
.left-7-m {
  left: var(--mg-sp-7);
}
.left-8-m {
  left: var(--mg-sp-8);
}
.left--1-m {
  left: calc(-1 * var(--mg-sp-1));
}
.left--2-m {
  left: calc(-1 * var(--mg-sp-2));
}
.left--3-m {
  left: calc(-1 * var(--mg-sp-3));
}
.left--4-m {
  left: calc(-1 * var(--mg-sp-4));
}
.left--5-m {
  left: calc(-1 * var(--mg-sp-5));
}
.left--6-m {
  left: calc(-1 * var(--mg-sp-6));
}
.left--7-m {
  left: calc(-1 * var(--mg-sp-7));
}
.left--8-m {
  left: calc(-1 * var(--mg-sp-8));
}
.right-0-m {
  right: 0;
}
.right-1-m {
  right: var(--mg-sp-1);
}
.right-2-m {
  right: var(--mg-sp-2);
}
.right-3-m {
  right: var(--mg-sp-3);
}
.right-4-m {
  right: var(--mg-sp-4);
}
.right-5-m {
  right: var(--mg-sp-5);
}
.right-6-m {
  right: var(--mg-sp-6);
}
.right-7-m {
  right: var(--mg-sp-7);
}
.right-8-m {
  right: var(--mg-sp-8);
}
.right--1-m {
  right: calc(-1 * var(--mg-sp-1));
}
.right--2-m {
  right: calc(-1 * var(--mg-sp-2));
}
.right--3-m {
  right: calc(-1 * var(--mg-sp-3));
}
.right--4-m {
  right: calc(-1 * var(--mg-sp-4));
}
.right--5-m {
  right: calc(-1 * var(--mg-sp-5));
}
.right--6-m {
  right: calc(-1 * var(--mg-sp-6));
}
.right--7-m {
  right: calc(-1 * var(--mg-sp-7));
}
.right--8-m {
  right: calc(-1 * var(--mg-sp-8));
}
.bottom-0-m {
  bottom: 0;
}
.bottom-1-m {
  bottom: var(--mg-sp-1);
}
.bottom-2-m {
  bottom: var(--mg-sp-2);
}
.bottom-3-m {
  bottom: var(--mg-sp-3);
}
.bottom-4-m {
  bottom: var(--mg-sp-4);
}
.bottom-5-m {
  bottom: var(--mg-sp-5);
}
.bottom-6-m {
  bottom: var(--mg-sp-6);
}
.bottom-7-m {
  bottom: var(--mg-sp-7);
}
.bottom-8-m {
  bottom: var(--mg-sp-8);
}
.bottom--1-m {
  bottom: calc(-1 * var(--mg-sp-1));
}
.bottom--2-m {
  bottom: calc(-1 * var(--mg-sp-2));
}
.bottom--3-m {
  bottom: calc(-1 * var(--mg-sp-3));
}
.bottom--4-m {
  bottom: calc(-1 * var(--mg-sp-4));
}
.bottom--5-m {
  bottom: calc(-1 * var(--mg-sp-5));
}
.bottom--6-m {
  bottom: calc(-1 * var(--mg-sp-6));
}
.bottom--7-m {
  bottom: calc(-1 * var(--mg-sp-7));
}
.bottom--8-m {
  bottom: calc(-1 * var(--mg-sp-8));
}
.ff-sans-m {
  font-family: var(--mg-ff-sans);
}
.ff-serif-m {
  font-family: var(--mg-ff-serif);
}
.ff-mono-m {
  font-family: var(--mg-ff-mono);
}
.ff-cursive-m {
  font-family: var(--mg-ff-cursive);
}
.ff-fantasy-m {
  font-family: var(--mg-ff-fantasy);
}
.f-1-m {
  font-size: var(--mg-fs-1);
}
.f-2-m {
  font-size: var(--mg-fs-2);
}
.f-3-m {
  font-size: var(--mg-fs-3);
}
.f-4-m {
  font-size: var(--mg-fs-4);
}
.f-5-m {
  font-size: var(--mg-fs-5);
}
.f-6-m {
  font-size: var(--mg-fs-6);
}
.f-7-m {
  font-size: var(--mg-fs-7);
}
.f-8-m {
  font-size: var(--mg-fs-8);
}
.f-9-m {
  font-size: var(--mg-fs-9);
}
.fw-normal-m {
  font-weight: normal;
}
.fw-bold-m {
  font-weight: bold;
}
.fw-1-m {
  font-weight: 100;
}
.fw-2-m {
  font-weight: 200;
}
.fw-3-m {
  font-weight: 300;
}
.fw-4-m {
  font-weight: 400;
}
.fw-5-m {
  font-weight: 500;
}
.fw-6-m {
  font-weight: 600;
}
.fw-7-m {
  font-weight: 700;
}
.fw-8-m {
  font-weight: 800;
}
.fw-9-m {
  font-weight: 900;
}
.fs-normal-m {
  font-style: normal;
}
.fs-italic-m {
  font-style: italic;
}
.fv-sc-m {
  font-variant: small-caps;
}
.fv-normal-m {
  font-variant: normal;
}
.tr-m {
  text-align: right;
}
.tc-m {
  text-align: center;
}
.tl-m {
  text-align: left;
}
.va-baseline-m {
  vertical-align: baseline;
}
.va-middle-m {
  vertical-align: middle;
}
.va-top-m {
  vertical-align: top;
}
.va-bottom-m {
  vertical-align: bottom;
}
.ttn-m {
  text-transform: none;
}
.ttu-m {
  text-transform: uppercase;
}
.ttl-m {
  text-transform: lowercase;
}
.ttc-m {
  text-transform: capitalize;
}
.tdn-m {
  text-decoration: none;
}
.hover-tdn-m:hover {
  text-decoration: none;
}
.tdu-m {
  text-decoration: underline;
}
.hover-tdu-m:hover {
  text-decoration: underline;
}
.tds-m {
  text-decoration: line-through;
}
.hover-tds-m:hover {
  text-decoration: line-through;
}
.tdo-m {
  text-decoration: overline;
}
.hover-tdo-m:hover {
  text-decoration: overline;
}
.indent-0-m {
  text-indent: 0;
}
.indent-1-m {
  text-indent: var(--mg-ident-1);
}
.indent-2-m {
  text-indent: var(--mg-ident-2);
}
.indent-3-m {
  text-indent: var(--mg-ident-3);
}
.indent--1-m {
  text-indent: var(--mg-ident--1);
}
.indent--2-m {
  text-indent: var(--mg-ident--2);
}
.indent--3-m {
  text-indent: var(--mg-ident--3);
}
.ws-normal-m {
  white-space: normal;
}
.ws-nowrap-m {
  white-space: nowrap;
}
.ws-pre-m {
  white-space: pre;
}
.lh-solid-m {
  line-height: var(--mg-lh-solid);
}
.lh-title-m {
  line-height: var(--mg-lh-title);
}
.lh-copy-m {
  line-height: var(--mg-lh-copy);
}
.tracked-m {
  letter-spacing: var(--mg-ls);
}
.tracked-tight-m {
  letter-spacing: var(--mg-ls-tight);
}
.tracked-mega-m {
  letter-spacing: var(--mg-ls-mega);
}
.tracked-none-m {
  letter-spacing: var(--mg-ls-none);
}
.measure-m {
  max-width: var(--mg-tw);
}
.measure-wide-m {
  max-width: var(--mg-tw-wide);
}
.measure-narrow-m {
  max-width: var(--mg-tw-narrow);
}
.b-m {
  font-weight: bold;
}
.i-m {
  font-style: italic;
}
.sc-m {
  font-variant: small-caps;
}
.u-m {
  text-decoration: underline;
}
.p-m {
  max-width: var(--mg-tw);
  line-height: var(--mg-lh-copy);
}
.db-m {
  display: block;
}
.di-m {
  display: inline;
}
.dib-m {
  display: inline-block;
}
.dn-m {
  display: none;
}
.dfr-m {
  display: flow-root;
}
.dt-m {
  display: table;
}
.dtc-m {
  display: table-cell;
}
.dtrow-m {
  display: table-row;
}
.dtrow-group-m {
  display: table-row-group;
}
.dtcolumn-m {
  display: table-column;
}
.dtcolumn-group-m {
  display: table-column-group;
}
.collapse-m {
  border-collapse: collapse;
  border-spacing: 0;
}
.appearance-none-m {
  appearance: none;
}
.appearance-auto-m {
  appearance: auto;
}
.sr-only-m {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.undo-sr-only-m {
  position: static;
  padding: 0;
  margin: 0;
  clip: auto;
  white-space: normal;
  width: auto;
  height: auto;
  overflow: visible;
}
.flex-m {
  display: flex;
}
.inline-flex-m {
  display: inline-flex;
}
.flex-none-m {
  flex: none;
}
.flex-column-m {
  flex-direction: column;
}
.flex-row-m {
  flex-direction: row;
}
.flex-wrap-m {
  flex-wrap: wrap;
}
.flex-nowrap-m {
  flex-wrap: nowrap;
}
.items-start-m {
  align-items: flex-start;
}
.items-end-m {
  align-items: flex-end;
}
.items-center-m {
  align-items: center;
}
.items-baseline-m {
  align-items: baseline;
}
.items-stretch-m {
  align-items: stretch;
}
.self-start-m {
  align-self: flex-start;
}
.self-end-m {
  align-self: flex-end;
}
.self-center-m {
  align-self: center;
}
.self-baseline-m {
  align-self: baseline;
}
.self-stretch-m {
  align-self: stretch;
}
.justify-start-m {
  justify-content: start;
}
.justify-end-m {
  justify-content: end;
}
.justify-center-m {
  justify-content: center;
}
.justify-between-m {
  justify-content: space-between;
}
.justify-around-m {
  justify-content: space-around;
}
.justify-stretch-m {
  justify-content: stretch;
}
.content-start-m {
  align-content: start;
}
.content-end-m {
  align-content: end;
}
.content-center-m {
  align-content: center;
}
.content-between-m {
  align-content: space-between;
}
.content-around-m {
  align-content: space-around;
}
.content-stretch-m {
  align-content: stretch;
}
.flex-grow-0-m {
  flex-grow: 0;
}
.flex-grow-1-m {
  flex-grow: 1;
}
.flex-grow-2-m {
  flex-grow: 2;
}
.flex-grow-3-m {
  flex-grow: 3;
}
.flex-grow-4-m {
  flex-grow: 4;
}
.flex-grow-5-m {
  flex-grow: 5;
}
.flex-shrink-0-m {
  flex-shrink: 0;
}
.flex-shrink-1-m {
  flex-shrink: 1;
}
.flex-shrink-2-m {
  flex-shrink: 2;
}
.flex-shrink-3-m {
  flex-shrink: 3;
}
.flex-shrink-4-m {
  flex-shrink: 4;
}
.flex-shrink-5-m {
  flex-shrink: 5;
}
.flex-basis-0-m {
  flex-basis: 0;
}
.flex-basis-auto-m {
  flex-basis: auto;
}
.flex-basis-max-m {
  flex-basis: max-content;
}
.flex-basis-min-m {
  flex-basis: min-content;
}
.flex-basis-fit-m {
  flex-basis: fit-content;
}
.red-100-m {
  color: var(--mg-red-100);
}
.red-200-m {
  color: var(--mg-red-200);
}
.red-300-m {
  color: var(--mg-red-300);
}
.red-400-m {
  color: var(--mg-red-400);
}
.red-500-m {
  color: var(--mg-red-500);
}
.red-600-m {
  color: var(--mg-red-600);
}
.red-700-m {
  color: var(--mg-red-700);
}
.red-800-m {
  color: var(--mg-red-800);
}
.red-900-m {
  color: var(--mg-red-900);
}
.hover-red-100-m:hover {
  color: var(--mg-red-100);
}
.hover-red-200-m:hover {
  color: var(--mg-red-200);
}
.hover-red-300-m:hover {
  color: var(--mg-red-300);
}
.hover-red-400-m:hover {
  color: var(--mg-red-400);
}
.hover-red-500-m:hover {
  color: var(--mg-red-500);
}
.hover-red-600-m:hover {
  color: var(--mg-red-600);
}
.hover-red-700-m:hover {
  color: var(--mg-red-700);
}
.hover-red-800-m:hover {
  color: var(--mg-red-800);
}
.hover-red-900-m:hover {
  color: var(--mg-red-900);
}
.bg-red-100-m {
  background-color: var(--mg-red-100);
}
.bg-red-200-m {
  background-color: var(--mg-red-200);
}
.bg-red-300-m {
  background-color: var(--mg-red-300);
}
.bg-red-400-m {
  background-color: var(--mg-red-400);
}
.bg-red-500-m {
  background-color: var(--mg-red-500);
}
.bg-red-600-m {
  background-color: var(--mg-red-600);
}
.bg-red-700-m {
  background-color: var(--mg-red-700);
}
.bg-red-800-m {
  background-color: var(--mg-red-800);
}
.bg-red-900-m {
  background-color: var(--mg-red-900);
}
.hover-bg-red-100-m:hover {
  background-color: var(--mg-red-100);
}
.hover-bg-red-200-m:hover {
  background-color: var(--mg-red-200);
}
.hover-bg-red-300-m:hover {
  background-color: var(--mg-red-300);
}
.hover-bg-red-400-m:hover {
  background-color: var(--mg-red-400);
}
.hover-bg-red-500-m:hover {
  background-color: var(--mg-red-500);
}
.hover-bg-red-600-m:hover {
  background-color: var(--mg-red-600);
}
.hover-bg-red-700-m:hover {
  background-color: var(--mg-red-700);
}
.hover-bg-red-800-m:hover {
  background-color: var(--mg-red-800);
}
.hover-bg-red-900-m:hover {
  background-color: var(--mg-red-900);
}
.bc-red-100-m {
  border-color: var(--mg-red-100);
}
.bc-red-200-m {
  border-color: var(--mg-red-200);
}
.bc-red-300-m {
  border-color: var(--mg-red-300);
}
.bc-red-400-m {
  border-color: var(--mg-red-400);
}
.bc-red-500-m {
  border-color: var(--mg-red-500);
}
.bc-red-600-m {
  border-color: var(--mg-red-600);
}
.bc-red-700-m {
  border-color: var(--mg-red-700);
}
.bc-red-800-m {
  border-color: var(--mg-red-800);
}
.bc-red-900-m {
  border-color: var(--mg-red-900);
}
.hover-bc-red-100-m:hover {
  border-color: var(--mg-red-100);
}
.hover-bc-red-200-m:hover {
  border-color: var(--mg-red-200);
}
.hover-bc-red-300-m:hover {
  border-color: var(--mg-red-300);
}
.hover-bc-red-400-m:hover {
  border-color: var(--mg-red-400);
}
.hover-bc-red-500-m:hover {
  border-color: var(--mg-red-500);
}
.hover-bc-red-600-m:hover {
  border-color: var(--mg-red-600);
}
.hover-bc-red-700-m:hover {
  border-color: var(--mg-red-700);
}
.hover-bc-red-800-m:hover {
  border-color: var(--mg-red-800);
}
.hover-bc-red-900-m:hover {
  border-color: var(--mg-red-900);
}
.orange-100-m {
  color: var(--mg-orange-100);
}
.orange-200-m {
  color: var(--mg-orange-200);
}
.orange-300-m {
  color: var(--mg-orange-300);
}
.orange-400-m {
  color: var(--mg-orange-400);
}
.orange-500-m {
  color: var(--mg-orange-500);
}
.orange-600-m {
  color: var(--mg-orange-600);
}
.orange-700-m {
  color: var(--mg-orange-700);
}
.orange-800-m {
  color: var(--mg-orange-800);
}
.orange-900-m {
  color: var(--mg-orange-900);
}
.hover-orange-100-m:hover {
  color: var(--mg-orange-100);
}
.hover-orange-200-m:hover {
  color: var(--mg-orange-200);
}
.hover-orange-300-m:hover {
  color: var(--mg-orange-300);
}
.hover-orange-400-m:hover {
  color: var(--mg-orange-400);
}
.hover-orange-500-m:hover {
  color: var(--mg-orange-500);
}
.hover-orange-600-m:hover {
  color: var(--mg-orange-600);
}
.hover-orange-700-m:hover {
  color: var(--mg-orange-700);
}
.hover-orange-800-m:hover {
  color: var(--mg-orange-800);
}
.hover-orange-900-m:hover {
  color: var(--mg-orange-900);
}
.bg-orange-100-m {
  background-color: var(--mg-orange-100);
}
.bg-orange-200-m {
  background-color: var(--mg-orange-200);
}
.bg-orange-300-m {
  background-color: var(--mg-orange-300);
}
.bg-orange-400-m {
  background-color: var(--mg-orange-400);
}
.bg-orange-500-m {
  background-color: var(--mg-orange-500);
}
.bg-orange-600-m {
  background-color: var(--mg-orange-600);
}
.bg-orange-700-m {
  background-color: var(--mg-orange-700);
}
.bg-orange-800-m {
  background-color: var(--mg-orange-800);
}
.bg-orange-900-m {
  background-color: var(--mg-orange-900);
}
.hover-bg-orange-100-m:hover {
  background-color: var(--mg-orange-100);
}
.hover-bg-orange-200-m:hover {
  background-color: var(--mg-orange-200);
}
.hover-bg-orange-300-m:hover {
  background-color: var(--mg-orange-300);
}
.hover-bg-orange-400-m:hover {
  background-color: var(--mg-orange-400);
}
.hover-bg-orange-500-m:hover {
  background-color: var(--mg-orange-500);
}
.hover-bg-orange-600-m:hover {
  background-color: var(--mg-orange-600);
}
.hover-bg-orange-700-m:hover {
  background-color: var(--mg-orange-700);
}
.hover-bg-orange-800-m:hover {
  background-color: var(--mg-orange-800);
}
.hover-bg-orange-900-m:hover {
  background-color: var(--mg-orange-900);
}
.bc-orange-100-m {
  border-color: var(--mg-orange-100);
}
.bc-orange-200-m {
  border-color: var(--mg-orange-200);
}
.bc-orange-300-m {
  border-color: var(--mg-orange-300);
}
.bc-orange-400-m {
  border-color: var(--mg-orange-400);
}
.bc-orange-500-m {
  border-color: var(--mg-orange-500);
}
.bc-orange-600-m {
  border-color: var(--mg-orange-600);
}
.bc-orange-700-m {
  border-color: var(--mg-orange-700);
}
.bc-orange-800-m {
  border-color: var(--mg-orange-800);
}
.bc-orange-900-m {
  border-color: var(--mg-orange-900);
}
.hover-bc-orange-100-m:hover {
  border-color: var(--mg-orange-100);
}
.hover-bc-orange-200-m:hover {
  border-color: var(--mg-orange-200);
}
.hover-bc-orange-300-m:hover {
  border-color: var(--mg-orange-300);
}
.hover-bc-orange-400-m:hover {
  border-color: var(--mg-orange-400);
}
.hover-bc-orange-500-m:hover {
  border-color: var(--mg-orange-500);
}
.hover-bc-orange-600-m:hover {
  border-color: var(--mg-orange-600);
}
.hover-bc-orange-700-m:hover {
  border-color: var(--mg-orange-700);
}
.hover-bc-orange-800-m:hover {
  border-color: var(--mg-orange-800);
}
.hover-bc-orange-900-m:hover {
  border-color: var(--mg-orange-900);
}
.yellow-100-m {
  color: var(--mg-yellow-100);
}
.yellow-200-m {
  color: var(--mg-yellow-200);
}
.yellow-300-m {
  color: var(--mg-yellow-300);
}
.yellow-400-m {
  color: var(--mg-yellow-400);
}
.yellow-500-m {
  color: var(--mg-yellow-500);
}
.yellow-600-m {
  color: var(--mg-yellow-600);
}
.yellow-700-m {
  color: var(--mg-yellow-700);
}
.yellow-800-m {
  color: var(--mg-yellow-800);
}
.yellow-900-m {
  color: var(--mg-yellow-900);
}
.hover-yellow-100-m:hover {
  color: var(--mg-yellow-100);
}
.hover-yellow-200-m:hover {
  color: var(--mg-yellow-200);
}
.hover-yellow-300-m:hover {
  color: var(--mg-yellow-300);
}
.hover-yellow-400-m:hover {
  color: var(--mg-yellow-400);
}
.hover-yellow-500-m:hover {
  color: var(--mg-yellow-500);
}
.hover-yellow-600-m:hover {
  color: var(--mg-yellow-600);
}
.hover-yellow-700-m:hover {
  color: var(--mg-yellow-700);
}
.hover-yellow-800-m:hover {
  color: var(--mg-yellow-800);
}
.hover-yellow-900-m:hover {
  color: var(--mg-yellow-900);
}
.bg-yellow-100-m {
  background-color: var(--mg-yellow-100);
}
.bg-yellow-200-m {
  background-color: var(--mg-yellow-200);
}
.bg-yellow-300-m {
  background-color: var(--mg-yellow-300);
}
.bg-yellow-400-m {
  background-color: var(--mg-yellow-400);
}
.bg-yellow-500-m {
  background-color: var(--mg-yellow-500);
}
.bg-yellow-600-m {
  background-color: var(--mg-yellow-600);
}
.bg-yellow-700-m {
  background-color: var(--mg-yellow-700);
}
.bg-yellow-800-m {
  background-color: var(--mg-yellow-800);
}
.bg-yellow-900-m {
  background-color: var(--mg-yellow-900);
}
.hover-bg-yellow-100-m:hover {
  background-color: var(--mg-yellow-100);
}
.hover-bg-yellow-200-m:hover {
  background-color: var(--mg-yellow-200);
}
.hover-bg-yellow-300-m:hover {
  background-color: var(--mg-yellow-300);
}
.hover-bg-yellow-400-m:hover {
  background-color: var(--mg-yellow-400);
}
.hover-bg-yellow-500-m:hover {
  background-color: var(--mg-yellow-500);
}
.hover-bg-yellow-600-m:hover {
  background-color: var(--mg-yellow-600);
}
.hover-bg-yellow-700-m:hover {
  background-color: var(--mg-yellow-700);
}
.hover-bg-yellow-800-m:hover {
  background-color: var(--mg-yellow-800);
}
.hover-bg-yellow-900-m:hover {
  background-color: var(--mg-yellow-900);
}
.bc-yellow-100-m {
  border-color: var(--mg-yellow-100);
}
.bc-yellow-200-m {
  border-color: var(--mg-yellow-200);
}
.bc-yellow-300-m {
  border-color: var(--mg-yellow-300);
}
.bc-yellow-400-m {
  border-color: var(--mg-yellow-400);
}
.bc-yellow-500-m {
  border-color: var(--mg-yellow-500);
}
.bc-yellow-600-m {
  border-color: var(--mg-yellow-600);
}
.bc-yellow-700-m {
  border-color: var(--mg-yellow-700);
}
.bc-yellow-800-m {
  border-color: var(--mg-yellow-800);
}
.bc-yellow-900-m {
  border-color: var(--mg-yellow-900);
}
.hover-bc-yellow-100-m:hover {
  border-color: var(--mg-yellow-100);
}
.hover-bc-yellow-200-m:hover {
  border-color: var(--mg-yellow-200);
}
.hover-bc-yellow-300-m:hover {
  border-color: var(--mg-yellow-300);
}
.hover-bc-yellow-400-m:hover {
  border-color: var(--mg-yellow-400);
}
.hover-bc-yellow-500-m:hover {
  border-color: var(--mg-yellow-500);
}
.hover-bc-yellow-600-m:hover {
  border-color: var(--mg-yellow-600);
}
.hover-bc-yellow-700-m:hover {
  border-color: var(--mg-yellow-700);
}
.hover-bc-yellow-800-m:hover {
  border-color: var(--mg-yellow-800);
}
.hover-bc-yellow-900-m:hover {
  border-color: var(--mg-yellow-900);
}
.green-100-m {
  color: var(--mg-green-100);
}
.green-200-m {
  color: var(--mg-green-200);
}
.green-300-m {
  color: var(--mg-green-300);
}
.green-400-m {
  color: var(--mg-green-400);
}
.green-500-m {
  color: var(--mg-green-500);
}
.green-600-m {
  color: var(--mg-green-600);
}
.green-700-m {
  color: var(--mg-green-700);
}
.green-800-m {
  color: var(--mg-green-800);
}
.green-900-m {
  color: var(--mg-green-900);
}
.hover-green-100-m:hover {
  color: var(--mg-green-100);
}
.hover-green-200-m:hover {
  color: var(--mg-green-200);
}
.hover-green-300-m:hover {
  color: var(--mg-green-300);
}
.hover-green-400-m:hover {
  color: var(--mg-green-400);
}
.hover-green-500-m:hover {
  color: var(--mg-green-500);
}
.hover-green-600-m:hover {
  color: var(--mg-green-600);
}
.hover-green-700-m:hover {
  color: var(--mg-green-700);
}
.hover-green-800-m:hover {
  color: var(--mg-green-800);
}
.hover-green-900-m:hover {
  color: var(--mg-green-900);
}
.bg-green-100-m {
  background-color: var(--mg-green-100);
}
.bg-green-200-m {
  background-color: var(--mg-green-200);
}
.bg-green-300-m {
  background-color: var(--mg-green-300);
}
.bg-green-400-m {
  background-color: var(--mg-green-400);
}
.bg-green-500-m {
  background-color: var(--mg-green-500);
}
.bg-green-600-m {
  background-color: var(--mg-green-600);
}
.bg-green-700-m {
  background-color: var(--mg-green-700);
}
.bg-green-800-m {
  background-color: var(--mg-green-800);
}
.bg-green-900-m {
  background-color: var(--mg-green-900);
}
.hover-bg-green-100-m:hover {
  background-color: var(--mg-green-100);
}
.hover-bg-green-200-m:hover {
  background-color: var(--mg-green-200);
}
.hover-bg-green-300-m:hover {
  background-color: var(--mg-green-300);
}
.hover-bg-green-400-m:hover {
  background-color: var(--mg-green-400);
}
.hover-bg-green-500-m:hover {
  background-color: var(--mg-green-500);
}
.hover-bg-green-600-m:hover {
  background-color: var(--mg-green-600);
}
.hover-bg-green-700-m:hover {
  background-color: var(--mg-green-700);
}
.hover-bg-green-800-m:hover {
  background-color: var(--mg-green-800);
}
.hover-bg-green-900-m:hover {
  background-color: var(--mg-green-900);
}
.bc-green-100-m {
  border-color: var(--mg-green-100);
}
.bc-green-200-m {
  border-color: var(--mg-green-200);
}
.bc-green-300-m {
  border-color: var(--mg-green-300);
}
.bc-green-400-m {
  border-color: var(--mg-green-400);
}
.bc-green-500-m {
  border-color: var(--mg-green-500);
}
.bc-green-600-m {
  border-color: var(--mg-green-600);
}
.bc-green-700-m {
  border-color: var(--mg-green-700);
}
.bc-green-800-m {
  border-color: var(--mg-green-800);
}
.bc-green-900-m {
  border-color: var(--mg-green-900);
}
.hover-bc-green-100-m:hover {
  border-color: var(--mg-green-100);
}
.hover-bc-green-200-m:hover {
  border-color: var(--mg-green-200);
}
.hover-bc-green-300-m:hover {
  border-color: var(--mg-green-300);
}
.hover-bc-green-400-m:hover {
  border-color: var(--mg-green-400);
}
.hover-bc-green-500-m:hover {
  border-color: var(--mg-green-500);
}
.hover-bc-green-600-m:hover {
  border-color: var(--mg-green-600);
}
.hover-bc-green-700-m:hover {
  border-color: var(--mg-green-700);
}
.hover-bc-green-800-m:hover {
  border-color: var(--mg-green-800);
}
.hover-bc-green-900-m:hover {
  border-color: var(--mg-green-900);
}
.blue-100-m {
  color: var(--mg-blue-100);
}
.blue-200-m {
  color: var(--mg-blue-200);
}
.blue-300-m {
  color: var(--mg-blue-300);
}
.blue-400-m {
  color: var(--mg-blue-400);
}
.blue-500-m {
  color: var(--mg-blue-500);
}
.blue-600-m {
  color: var(--mg-blue-600);
}
.blue-700-m {
  color: var(--mg-blue-700);
}
.blue-800-m {
  color: var(--mg-blue-800);
}
.blue-900-m {
  color: var(--mg-blue-900);
}
.hover-blue-100-m:hover {
  color: var(--mg-blue-100);
}
.hover-blue-200-m:hover {
  color: var(--mg-blue-200);
}
.hover-blue-300-m:hover {
  color: var(--mg-blue-300);
}
.hover-blue-400-m:hover {
  color: var(--mg-blue-400);
}
.hover-blue-500-m:hover {
  color: var(--mg-blue-500);
}
.hover-blue-600-m:hover {
  color: var(--mg-blue-600);
}
.hover-blue-700-m:hover {
  color: var(--mg-blue-700);
}
.hover-blue-800-m:hover {
  color: var(--mg-blue-800);
}
.hover-blue-900-m:hover {
  color: var(--mg-blue-900);
}
.bg-blue-100-m {
  background-color: var(--mg-blue-100);
}
.bg-blue-200-m {
  background-color: var(--mg-blue-200);
}
.bg-blue-300-m {
  background-color: var(--mg-blue-300);
}
.bg-blue-400-m {
  background-color: var(--mg-blue-400);
}
.bg-blue-500-m {
  background-color: var(--mg-blue-500);
}
.bg-blue-600-m {
  background-color: var(--mg-blue-600);
}
.bg-blue-700-m {
  background-color: var(--mg-blue-700);
}
.bg-blue-800-m {
  background-color: var(--mg-blue-800);
}
.bg-blue-900-m {
  background-color: var(--mg-blue-900);
}
.hover-bg-blue-100-m:hover {
  background-color: var(--mg-blue-100);
}
.hover-bg-blue-200-m:hover {
  background-color: var(--mg-blue-200);
}
.hover-bg-blue-300-m:hover {
  background-color: var(--mg-blue-300);
}
.hover-bg-blue-400-m:hover {
  background-color: var(--mg-blue-400);
}
.hover-bg-blue-500-m:hover {
  background-color: var(--mg-blue-500);
}
.hover-bg-blue-600-m:hover {
  background-color: var(--mg-blue-600);
}
.hover-bg-blue-700-m:hover {
  background-color: var(--mg-blue-700);
}
.hover-bg-blue-800-m:hover {
  background-color: var(--mg-blue-800);
}
.hover-bg-blue-900-m:hover {
  background-color: var(--mg-blue-900);
}
.bc-blue-100-m {
  border-color: var(--mg-blue-100);
}
.bc-blue-200-m {
  border-color: var(--mg-blue-200);
}
.bc-blue-300-m {
  border-color: var(--mg-blue-300);
}
.bc-blue-400-m {
  border-color: var(--mg-blue-400);
}
.bc-blue-500-m {
  border-color: var(--mg-blue-500);
}
.bc-blue-600-m {
  border-color: var(--mg-blue-600);
}
.bc-blue-700-m {
  border-color: var(--mg-blue-700);
}
.bc-blue-800-m {
  border-color: var(--mg-blue-800);
}
.bc-blue-900-m {
  border-color: var(--mg-blue-900);
}
.hover-bc-blue-100-m:hover {
  border-color: var(--mg-blue-100);
}
.hover-bc-blue-200-m:hover {
  border-color: var(--mg-blue-200);
}
.hover-bc-blue-300-m:hover {
  border-color: var(--mg-blue-300);
}
.hover-bc-blue-400-m:hover {
  border-color: var(--mg-blue-400);
}
.hover-bc-blue-500-m:hover {
  border-color: var(--mg-blue-500);
}
.hover-bc-blue-600-m:hover {
  border-color: var(--mg-blue-600);
}
.hover-bc-blue-700-m:hover {
  border-color: var(--mg-blue-700);
}
.hover-bc-blue-800-m:hover {
  border-color: var(--mg-blue-800);
}
.hover-bc-blue-900-m:hover {
  border-color: var(--mg-blue-900);
}
.purple-100-m {
  color: var(--mg-purple-100);
}
.purple-200-m {
  color: var(--mg-purple-200);
}
.purple-300-m {
  color: var(--mg-purple-300);
}
.purple-400-m {
  color: var(--mg-purple-400);
}
.purple-500-m {
  color: var(--mg-purple-500);
}
.purple-600-m {
  color: var(--mg-purple-600);
}
.purple-700-m {
  color: var(--mg-purple-700);
}
.purple-800-m {
  color: var(--mg-purple-800);
}
.purple-900-m {
  color: var(--mg-purple-900);
}
.hover-purple-100-m:hover {
  color: var(--mg-purple-100);
}
.hover-purple-200-m:hover {
  color: var(--mg-purple-200);
}
.hover-purple-300-m:hover {
  color: var(--mg-purple-300);
}
.hover-purple-400-m:hover {
  color: var(--mg-purple-400);
}
.hover-purple-500-m:hover {
  color: var(--mg-purple-500);
}
.hover-purple-600-m:hover {
  color: var(--mg-purple-600);
}
.hover-purple-700-m:hover {
  color: var(--mg-purple-700);
}
.hover-purple-800-m:hover {
  color: var(--mg-purple-800);
}
.hover-purple-900-m:hover {
  color: var(--mg-purple-900);
}
.bg-purple-100-m {
  background-color: var(--mg-purple-100);
}
.bg-purple-200-m {
  background-color: var(--mg-purple-200);
}
.bg-purple-300-m {
  background-color: var(--mg-purple-300);
}
.bg-purple-400-m {
  background-color: var(--mg-purple-400);
}
.bg-purple-500-m {
  background-color: var(--mg-purple-500);
}
.bg-purple-600-m {
  background-color: var(--mg-purple-600);
}
.bg-purple-700-m {
  background-color: var(--mg-purple-700);
}
.bg-purple-800-m {
  background-color: var(--mg-purple-800);
}
.bg-purple-900-m {
  background-color: var(--mg-purple-900);
}
.hover-bg-purple-100-m:hover {
  background-color: var(--mg-purple-100);
}
.hover-bg-purple-200-m:hover {
  background-color: var(--mg-purple-200);
}
.hover-bg-purple-300-m:hover {
  background-color: var(--mg-purple-300);
}
.hover-bg-purple-400-m:hover {
  background-color: var(--mg-purple-400);
}
.hover-bg-purple-500-m:hover {
  background-color: var(--mg-purple-500);
}
.hover-bg-purple-600-m:hover {
  background-color: var(--mg-purple-600);
}
.hover-bg-purple-700-m:hover {
  background-color: var(--mg-purple-700);
}
.hover-bg-purple-800-m:hover {
  background-color: var(--mg-purple-800);
}
.hover-bg-purple-900-m:hover {
  background-color: var(--mg-purple-900);
}
.bc-purple-100-m {
  border-color: var(--mg-purple-100);
}
.bc-purple-200-m {
  border-color: var(--mg-purple-200);
}
.bc-purple-300-m {
  border-color: var(--mg-purple-300);
}
.bc-purple-400-m {
  border-color: var(--mg-purple-400);
}
.bc-purple-500-m {
  border-color: var(--mg-purple-500);
}
.bc-purple-600-m {
  border-color: var(--mg-purple-600);
}
.bc-purple-700-m {
  border-color: var(--mg-purple-700);
}
.bc-purple-800-m {
  border-color: var(--mg-purple-800);
}
.bc-purple-900-m {
  border-color: var(--mg-purple-900);
}
.hover-bc-purple-100-m:hover {
  border-color: var(--mg-purple-100);
}
.hover-bc-purple-200-m:hover {
  border-color: var(--mg-purple-200);
}
.hover-bc-purple-300-m:hover {
  border-color: var(--mg-purple-300);
}
.hover-bc-purple-400-m:hover {
  border-color: var(--mg-purple-400);
}
.hover-bc-purple-500-m:hover {
  border-color: var(--mg-purple-500);
}
.hover-bc-purple-600-m:hover {
  border-color: var(--mg-purple-600);
}
.hover-bc-purple-700-m:hover {
  border-color: var(--mg-purple-700);
}
.hover-bc-purple-800-m:hover {
  border-color: var(--mg-purple-800);
}
.hover-bc-purple-900-m:hover {
  border-color: var(--mg-purple-900);
}
.gray-100-m {
  color: var(--mg-gray-100);
}
.gray-200-m {
  color: var(--mg-gray-200);
}
.gray-300-m {
  color: var(--mg-gray-300);
}
.gray-400-m {
  color: var(--mg-gray-400);
}
.gray-500-m {
  color: var(--mg-gray-500);
}
.gray-600-m {
  color: var(--mg-gray-600);
}
.gray-700-m {
  color: var(--mg-gray-700);
}
.gray-800-m {
  color: var(--mg-gray-800);
}
.gray-900-m {
  color: var(--mg-gray-900);
}
.hover-gray-100-m:hover {
  color: var(--mg-gray-100);
}
.hover-gray-200-m:hover {
  color: var(--mg-gray-200);
}
.hover-gray-300-m:hover {
  color: var(--mg-gray-300);
}
.hover-gray-400-m:hover {
  color: var(--mg-gray-400);
}
.hover-gray-500-m:hover {
  color: var(--mg-gray-500);
}
.hover-gray-600-m:hover {
  color: var(--mg-gray-600);
}
.hover-gray-700-m:hover {
  color: var(--mg-gray-700);
}
.hover-gray-800-m:hover {
  color: var(--mg-gray-800);
}
.hover-gray-900-m:hover {
  color: var(--mg-gray-900);
}
.bg-gray-100-m {
  background-color: var(--mg-gray-100);
}
.bg-gray-200-m {
  background-color: var(--mg-gray-200);
}
.bg-gray-300-m {
  background-color: var(--mg-gray-300);
}
.bg-gray-400-m {
  background-color: var(--mg-gray-400);
}
.bg-gray-500-m {
  background-color: var(--mg-gray-500);
}
.bg-gray-600-m {
  background-color: var(--mg-gray-600);
}
.bg-gray-700-m {
  background-color: var(--mg-gray-700);
}
.bg-gray-800-m {
  background-color: var(--mg-gray-800);
}
.bg-gray-900-m {
  background-color: var(--mg-gray-900);
}
.hover-bg-gray-100-m:hover {
  background-color: var(--mg-gray-100);
}
.hover-bg-gray-200-m:hover {
  background-color: var(--mg-gray-200);
}
.hover-bg-gray-300-m:hover {
  background-color: var(--mg-gray-300);
}
.hover-bg-gray-400-m:hover {
  background-color: var(--mg-gray-400);
}
.hover-bg-gray-500-m:hover {
  background-color: var(--mg-gray-500);
}
.hover-bg-gray-600-m:hover {
  background-color: var(--mg-gray-600);
}
.hover-bg-gray-700-m:hover {
  background-color: var(--mg-gray-700);
}
.hover-bg-gray-800-m:hover {
  background-color: var(--mg-gray-800);
}
.hover-bg-gray-900-m:hover {
  background-color: var(--mg-gray-900);
}
.bc-gray-100-m {
  border-color: var(--mg-gray-100);
}
.bc-gray-200-m {
  border-color: var(--mg-gray-200);
}
.bc-gray-300-m {
  border-color: var(--mg-gray-300);
}
.bc-gray-400-m {
  border-color: var(--mg-gray-400);
}
.bc-gray-500-m {
  border-color: var(--mg-gray-500);
}
.bc-gray-600-m {
  border-color: var(--mg-gray-600);
}
.bc-gray-700-m {
  border-color: var(--mg-gray-700);
}
.bc-gray-800-m {
  border-color: var(--mg-gray-800);
}
.bc-gray-900-m {
  border-color: var(--mg-gray-900);
}
.hover-bc-gray-100-m:hover {
  border-color: var(--mg-gray-100);
}
.hover-bc-gray-200-m:hover {
  border-color: var(--mg-gray-200);
}
.hover-bc-gray-300-m:hover {
  border-color: var(--mg-gray-300);
}
.hover-bc-gray-400-m:hover {
  border-color: var(--mg-gray-400);
}
.hover-bc-gray-500-m:hover {
  border-color: var(--mg-gray-500);
}
.hover-bc-gray-600-m:hover {
  border-color: var(--mg-gray-600);
}
.hover-bc-gray-700-m:hover {
  border-color: var(--mg-gray-700);
}
.hover-bc-gray-800-m:hover {
  border-color: var(--mg-gray-800);
}
.hover-bc-gray-900-m:hover {
  border-color: var(--mg-gray-900);
}
.black-m {
  color: var(--mg-black);
}
.black-ish-m {
  color: var(--mg-black-ish);
}
.hover-black-m:hover {
  color: var(--mg-black);
}
.hover-black-ish-m:hover {
  color: var(--mg-black-ish);
}
.bg-black-m {
  background-color: var(--mg-black);
}
.bg-black-ish-m {
  background-color: var(--mg-black-ish);
}
.hover-bg-black-m:hover {
  background-color: var(--mg-black);
}
.hover-bg-black-ish-m:hover {
  background-color: var(--mg-black-ish);
}
.bc-black-m {
  border-color: var(--mg-black);
}
.bc-black-ish-m {
  border-color: var(--mg-black-ish);
}
.hover-bc-black-m:hover {
  border-color: var(--mg-black);
}
.hover-bc-black-ish-m:hover {
  border-color: var(--mg-black-ish);
}
.white-m {
  color: var(--mg-white);
}
.white-ish-m {
  color: var(--mg-white-ish);
}
.hover-white-m:hover {
  color: var(--mg-white);
}
.hover-white-ish-m:hover {
  color: var(--mg-white-ish);
}
.bg-white-m {
  background-color: var(--mg-white);
}
.bg-white-ish-m {
  background-color: var(--mg-white-ish);
}
.hover-bg-white-m:hover {
  background-color: var(--mg-white);
}
.hover-bg-white-ish-m:hover {
  background-color: var(--mg-white-ish);
}
.bc-white-m {
  border-color: var(--mg-white);
}
.bc-white-ish-m {
  border-color: var(--mg-white-ish);
}
.hover-bc-white-m:hover {
  border-color: var(--mg-white);
}
.hover-bc-white-ish-m:hover {
  border-color: var(--mg-white-ish);
}
.ba-m {
  border-style: solid;
  border-width: 1px;
}
.bl-m {
  border-left-style: solid;
  border-left-width: 1px;
}
.br-m {
  border-right-style: solid;
  border-right-width: 1px;
}
.bt-m {
  border-top-style: solid;
  border-top-width: 1px;
}
.bb-m {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.bn-m {
  border-style: none;
  border-width: 0;
}
.br-0-m {
  border-radius: 0;
}
.br-1-m {
  border-radius: var(--mg-bw-1);
}
.br-2-m {
  border-radius: var(--mg-bw-2);
}
.br-3-m {
  border-radius: var(--mg-bw-3);
}
.br-4-m {
  border-radius: var(--mg-bw-4);
}
.br-5-m {
  border-radius: var(--mg-bw-5);
}
.br-100-m {
  border-radius: 100%;
}
.br-pill-m {
  border-radius: 999px;
}
.br-bottom-0-m {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.br-bottom-1-m {
  border-bottom-left-radius: var(--mg-bw-1);
  border-bottom-right-radius: var(--mg-bw-1);
}
.br-bottom-2-m {
  border-bottom-left-radius: var(--mg-bw-2);
  border-bottom-right-radius: var(--mg-bw-2);
}
.br-bottom-3-m {
  border-bottom-left-radius: var(--mg-bw-3);
  border-bottom-right-radius: var(--mg-bw-3);
}
.br-bottom-4-m {
  border-bottom-left-radius: var(--mg-bw-4);
  border-bottom-right-radius: var(--mg-bw-4);
}
.br-bottom-5-m {
  border-bottom-left-radius: var(--mg-bw-5);
  border-bottom-right-radius: var(--mg-bw-5);
}
.br-bottom-100-m {
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}
.br-bottom-pill-m {
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
}
.br-top-0-m {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.br-top-1-m {
  border-top-left-radius: var(--mg-bw-1);
  border-top-right-radius: var(--mg-bw-1);
}
.br-top-2-m {
  border-top-left-radius: var(--mg-bw-2);
  border-top-right-radius: var(--mg-bw-2);
}
.br-top-3-m {
  border-top-left-radius: var(--mg-bw-3);
  border-top-right-radius: var(--mg-bw-3);
}
.br-top-4-m {
  border-top-left-radius: var(--mg-bw-4);
  border-top-right-radius: var(--mg-bw-4);
}
.br-top-5-m {
  border-top-left-radius: var(--mg-bw-5);
  border-top-right-radius: var(--mg-bw-5);
}
.br-top-100-m {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.br-top-pill-m {
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
}
.br-left-0-m {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.br-left-1-m {
  border-bottom-left-radius: var(--mg-bw-1);
  border-top-left-radius: var(--mg-bw-1);
}
.br-left-2-m {
  border-bottom-left-radius: var(--mg-bw-2);
  border-top-left-radius: var(--mg-bw-2);
}
.br-left-3-m {
  border-bottom-left-radius: var(--mg-bw-3);
  border-top-left-radius: var(--mg-bw-3);
}
.br-left-4-m {
  border-bottom-left-radius: var(--mg-bw-4);
  border-top-left-radius: var(--mg-bw-4);
}
.br-left-5-m {
  border-bottom-left-radius: var(--mg-bw-5);
  border-top-left-radius: var(--mg-bw-5);
}
.br-left-100-m {
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}
.br-left-pill-m {
  border-bottom-left-radius: 999px;
  border-top-left-radius: 999px;
}
.br-right-0-m {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.br-right-1-m {
  border-bottom-right-radius: var(--mg-bw-1);
  border-top-right-radius: var(--mg-bw-1);
}
.br-right-2-m {
  border-bottom-right-radius: var(--mg-bw-2);
  border-top-right-radius: var(--mg-bw-2);
}
.br-right-3-m {
  border-bottom-right-radius: var(--mg-bw-3);
  border-top-right-radius: var(--mg-bw-3);
}
.br-right-4-m {
  border-bottom-right-radius: var(--mg-bw-4);
  border-top-right-radius: var(--mg-bw-4);
}
.br-right-5-m {
  border-bottom-right-radius: var(--mg-bw-5);
  border-top-right-radius: var(--mg-bw-5);
}
.br-right-100-m {
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
}
.br-right-pill-m {
  border-bottom-right-radius: 999px;
  border-top-right-radius: 999px;
}
.br-tr-0-m {
  border-top-right-radius: 0;
}
.br-tr-1-m {
  border-top-right-radius: var(--mg-bw-1);
}
.br-tr-2-m {
  border-top-right-radius: var(--mg-bw-2);
}
.br-tr-3-m {
  border-top-right-radius: var(--mg-bw-3);
}
.br-tr-4-m {
  border-top-right-radius: var(--mg-bw-4);
}
.br-tr-5-m {
  border-top-right-radius: var(--mg-bw-5);
}
.br-tr-100-m {
  border-top-right-radius: 100%;
}
.br-tr-pill-m {
  border-top-right-radius: 999px;
}
.br-br-0-m {
  border-bottom-right-radius: 0;
}
.br-br-1-m {
  border-bottom-right-radius: var(--mg-bw-1);
}
.br-br-2-m {
  border-bottom-right-radius: var(--mg-bw-2);
}
.br-br-3-m {
  border-bottom-right-radius: var(--mg-bw-3);
}
.br-br-4-m {
  border-bottom-right-radius: var(--mg-bw-4);
}
.br-br-5-m {
  border-bottom-right-radius: var(--mg-bw-5);
}
.br-br-100-m {
  border-bottom-right-radius: 100%;
}
.br-br-pill-m {
  border-bottom-right-radius: 999px;
}
.br-tl-0-m {
  border-top-left-radius: 0;
}
.br-tl-1-m {
  border-top-left-radius: var(--mg-bw-1);
}
.br-tl-2-m {
  border-top-left-radius: var(--mg-bw-2);
}
.br-tl-3-m {
  border-top-left-radius: var(--mg-bw-3);
}
.br-tl-4-m {
  border-top-left-radius: var(--mg-bw-4);
}
.br-tl-5-m {
  border-top-left-radius: var(--mg-bw-5);
}
.br-tl-100-m {
  border-top-left-radius: 100%;
}
.br-tl-pill-m {
  border-top-left-radius: 999px;
}
.br-bl-0-m {
  border-bottom-left-radius: 0;
}
.br-bl-1-m {
  border-bottom-left-radius: var(--mg-bw-1);
}
.br-bl-2-m {
  border-bottom-left-radius: var(--mg-bw-2);
}
.br-bl-3-m {
  border-bottom-left-radius: var(--mg-bw-3);
}
.br-bl-4-m {
  border-bottom-left-radius: var(--mg-bw-4);
}
.br-bl-5-m {
  border-bottom-left-radius: var(--mg-bw-5);
}
.br-bl-100-m {
  border-bottom-left-radius: 100%;
}
.br-bl-pill-m {
  border-bottom-left-radius: 999px;
}
.bs-dotted-m {
  border-style: dotted;
}
.bs-dashed-m {
  border-style: dashed;
}
.bs-solid-m {
  border-style: solid;
}
.bs-none-m {
  border-style: none;
}
.bls-dotted-m {
  border-left-style: dotted;
}
.bls-dashed-m {
  border-left-style: dashed;
}
.bls-solid-m {
  border-left-style: solid;
}
.bls-none-m {
  border-left-style: none;
}
.brs-dotted-m {
  border-right-style: dotted;
}
.brs-dashed-m {
  border-right-style: dashed;
}
.brs-solid-m {
  border-right-style: solid;
}
.brs-none-m {
  border-right-style: none;
}
.bts-dotted-m {
  border-top-style: dotted;
}
.bts-dashed-m {
  border-top-style: dashed;
}
.bts-solid-m {
  border-top-style: solid;
}
.bts-none-m {
  border-top-style: none;
}
.bbs-dotted-m {
  border-bottom-style: dotted;
}
.bbs-dashed-m {
  border-bottom-style: dashed;
}
.bbs-solid-m {
  border-bottom-style: solid;
}
.bbs-none-m {
  border-bottom-style: none;
}
.bw-0-m {
  border-width: 0;
}
.bw-1-m {
  border-width: var(--mg-bw-1);
}
.bw-2-m {
  border-width: var(--mg-bw-2);
}
.bw-3-m {
  border-width: var(--mg-bw-3);
}
.bw-4-m {
  border-width: var(--mg-bw-4);
}
.bw-5-m {
  border-width: var(--mg-bw-5);
}
.blw-0-m {
  border-left-width: 0;
}
.blw-1-m {
  border-left-width: var(--mg-bw-1);
}
.blw-2-m {
  border-left-width: var(--mg-bw-2);
}
.blw-3-m {
  border-left-width: var(--mg-bw-3);
}
.blw-4-m {
  border-left-width: var(--mg-bw-4);
}
.blw-5-m {
  border-left-width: var(--mg-bw-5);
}
.brw-0-m {
  border-right-width: 0;
}
.brw-1-m {
  border-right-width: var(--mg-bw-1);
}
.brw-2-m {
  border-right-width: var(--mg-bw-2);
}
.brw-3-m {
  border-right-width: var(--mg-bw-3);
}
.brw-4-m {
  border-right-width: var(--mg-bw-4);
}
.brw-5-m {
  border-right-width: var(--mg-bw-5);
}
.btw-0-m {
  border-top-width: 0;
}
.btw-1-m {
  border-top-width: var(--mg-bw-1);
}
.btw-2-m {
  border-top-width: var(--mg-bw-2);
}
.btw-3-m {
  border-top-width: var(--mg-bw-3);
}
.btw-4-m {
  border-top-width: var(--mg-bw-4);
}
.btw-5-m {
  border-top-width: var(--mg-bw-5);
}
.bbw-0-m {
  border-bottom-width: 0;
}
.bbw-1-m {
  border-bottom-width: var(--mg-bw-1);
}
.bbw-2-m {
  border-bottom-width: var(--mg-bw-2);
}
.bbw-3-m {
  border-bottom-width: var(--mg-bw-3);
}
.bbw-4-m {
  border-bottom-width: var(--mg-bw-4);
}
.bbw-5-m {
  border-bottom-width: var(--mg-bw-5);
}
.overflow-visible-m {
  overflow: visible;
}
.overflow-scroll-m {
  overflow: scroll;
}
.overflow-hidden-m {
  overflow: hidden;
}
.overflow-clip-m {
  overflow: clip;
}
.overflow-auto-m {
  overflow: auto;
}
.overflow-x-visible-m {
  overflow-x: visible;
}
.overflow-x-scroll-m {
  overflow-x: scroll;
}
.overflow-x-hidden-m {
  overflow-x: hidden;
}
.overflow-x-clip-m {
  overflow-x: clip;
}
.overflow-x-auto-m {
  overflow-x: auto;
}
.overflow-y-visible-m {
  overflow-y: visible;
}
.overflow-y-scroll-m {
  overflow-y: scroll;
}
.overflow-y-hidden-m {
  overflow-y: hidden;
}
.overflow-y-clip-m {
  overflow-y: clip;
}
.overflow-y-auto-m {
  overflow-y: auto;
}
.truncate-m {
  text-overflow: ellipsis;
}
.clip-m {
  text-overflow: clip;
}
.lst-none-m {
  list-style-type: none;
}
.lst-disc-m {
  list-style-type: disc;
}
.lst-circle-m {
  list-style-type: circle;
}
.lst-square-m {
  list-style-type: square;
}
.lst-decimal-m {
  list-style-type: decimal;
}
.lst-lower-roman-m {
  list-style-type: lower-roman;
}
.lst-upper-roman-m {
  list-style-type: upper-roman;
}
.lsp-inside-m {
  list-style-position: inside;
}
.lsp-outside-m {
  list-style-position: outside;
}
.shadow-1-m {
  box-shadow: rgb(135, 135, 135) 1px 1px 4px 0px;
}
.shadow-2-m {
  box-shadow: rgb(135, 135, 135) 1px 1px 10.64px 0px;
}
.shadow-3-m {
  box-shadow: rgb(135, 135, 135) 1px 1px 15.022px 0px;
}
.shadow-4-m {
  box-shadow: rgb(135, 135, 135) 1px 1px 22.297px 0px;
}
.shadow-5-m {
  box-shadow: rgb(135, 135, 135) 1px 1px 34.373px 0px;
}
.shadow-6-m {
  box-shadow: rgb(135, 135, 135) 1px 1px 54.419px 0px;
}
.shadow-none-m {
  box-shadow: none;
}
.inset-shadow-1-m {
  box-shadow: rgb(106, 106, 106) 1px 1px 4px -1px inset;
}
.inset-shadow-2-m {
  box-shadow: rgb(106, 106, 106) 1px 1px 5.52px -1.043px inset;
}
.inset-shadow-3-m {
  box-shadow: rgb(106, 106, 106) 1px 1px 8.195px -1.193px inset;
}
.inset-shadow-4-m {
  box-shadow: rgb(106, 106, 106) 1px 1px 12.903px -1.485px inset;
}
.inset-shadow-5-m {
  box-shadow: rgb(106, 106, 106) 1px 1px 21.190px -1.986px inset;
}
.inset-shadow-6-m {
  box-shadow: rgb(106, 106, 106) 1px 1px 35.774px -2.802px inset;
}
.inset-shadow-none-m {
  box-shadow: none;
}
.o-10-m {
  opacity: 10%;
}
.o-20-m {
  opacity: 20%;
}
.o-25-m {
  opacity: 25%;
}
.o-30-m {
  opacity: 30%;
}
.o-40-m {
  opacity: 40%;
}
.o-50-m {
  opacity: 50%;
}
.o-60-m {
  opacity: 60%;
}
.o-70-m {
  opacity: 70%;
}
.o-75-m {
  opacity: 75%;
}
.o-80-m {
  opacity: 80%;
}
.o-90-m {
  opacity: 90%;
}
.o-100-m {
  opacity: 100%;
}
.o-third-m {
  opacity: calc(100% / 3);
}
.o-two-thirds-m {
  opacity: calc(100% / 1.5);
}
.cursor-default-m {
  cursor: default;
}
.pointer-m {
  cursor: pointer;
}
.cursor-pointer-m {
  cursor: pointer;
}
.cursor-progress-m {
  cursor: progress;
}
.cursor-move-m {
  cursor: move;
}
.cursor-grab-m {
  cursor: grab;
}
.z-m {
  z-index: 0;
}
.z-1-m {
  z-index: 1;
}
.z-2-m {
  z-index: 2;
}
.z-3-m {
  z-index: 3;
}
.z-4-m {
  z-index: 4;
}
.z-5-m {
  z-index: 5;
}
.z-9999-m {
  z-index: 9999;
}
.z-auto-m {
  z-index: auto;
}
.bgp-t-m {
  background-position: top;
}
.bgp-b-m {
  background-position: bottom;
}
.bgp-l-m {
  background-position: left;
}
.bgp-r-m {
  background-position: right;
}
.bgp-c-m {
  background-position: center;
}
.bgp-tr-m {
  background-position: top right;
}
.bgp-tl-m {
  background-position: top left;
}
.bgp-br-m {
  background-position: bottom right;
}
.bgp-bl-m {
  background-position: bottom left;
}
.bgp-cr-m {
  background-position: center right;
}
.bgp-cl-m {
  background-position: center left;
}
.bgp-ct-m {
  background-position: center top;
}
.bgp-cb-m {
  background-position: center bottom;
}
.bgr-m {
  background-repeat: repeat;
}
.bgr-x-m {
  background-repeat: repeat-x;
}
.bgr-y-m {
  background-repeat: repeat-y;
}
.bgr-s-m {
  background-repeat: space;
}
.bgr-r-m {
  background-repeat: round;
}
.bg-none-m {
  background-repeat: no-repeat;
}
}
