/*
 * Prefers more contrast (Browser and HTML-configured contrast is the default)
 */
@media (prefers-contrast: more) {
.w-1-hc {
  width: calc(2 * var(--mg-sp-1));
}
.w-2-hc {
  width: calc(2 * var(--mg-sp-2));
}
.w-3-hc {
  width: calc(2 * var(--mg-sp-3));
}
.w-4-hc {
  width: calc(2 * var(--mg-sp-4));
}
.w-5-hc {
  width: calc(2 * var(--mg-sp-5));
}
.w-6-hc {
  width: calc(2 * var(--mg-sp-6));
}
.w-7-hc {
  width: calc(2 * var(--mg-sp-7));
}
.w-8-hc {
  width: calc(2 * var(--mg-sp-8));
}
.w-10-hc {
  width: 10%;
}
.w-20-hc {
  width: 20%;
}
.w-25-hc {
  width: 25%;
}
.w-30-hc {
  width: 30%;
}
.w-40-hc {
  width: 40%;
}
.w-50-hc {
  width: 50%;
}
.w-60-hc {
  width: 60%;
}
.w-70-hc {
  width: 70%;
}
.w-75-hc {
  width: 75%;
}
.w-80-hc {
  width: 80%;
}
.w-90-hc {
  width: 90%;
}
.w-100-hc {
  width: 100%;
}
.w-third-hc {
  width: calc(100% / 3);
}
.w-two-thirds-hc {
  width: calc(100% / 1.5);
}
.w-10vw-hc {
  width: 10vw;
}
.w-20vw-hc {
  width: 20vw;
}
.w-30vw-hc {
  width: 30vw;
}
.w-40vw-hc {
  width: 40vw;
}
.w-50vw-hc {
  width: 50vw;
}
.w-60vw-hc {
  width: 60vw;
}
.w-70vw-hc {
  width: 70vw;
}
.w-80vw-hc {
  width: 80vw;
}
.w-90vw-hc {
  width: 90vw;
}
.w-100vw-hc {
  width: 100vw;
}
.w-auto-hc {
  width: auto;
}
.mw-1-hc {
  max-width: calc(2 * var(--mg-sp-1));
}
.mw-2-hc {
  max-width: calc(2 * var(--mg-sp-2));
}
.mw-3-hc {
  max-width: calc(2 * var(--mg-sp-3));
}
.mw-4-hc {
  max-width: calc(2 * var(--mg-sp-4));
}
.mw-5-hc {
  max-width: calc(2 * var(--mg-sp-5));
}
.mw-6-hc {
  max-width: calc(2 * var(--mg-sp-6));
}
.mw-7-hc {
  max-width: calc(2 * var(--mg-sp-7));
}
.mw-8-hc {
  max-width: calc(2 * var(--mg-sp-8));
}
.mw-10-hc {
  max-width: 10%;
}
.mw-20-hc {
  max-width: 20%;
}
.mw-25-hc {
  max-width: 25%;
}
.mw-30-hc {
  max-width: 30%;
}
.mw-40-hc {
  max-width: 40%;
}
.mw-50-hc {
  max-width: 50%;
}
.mw-60-hc {
  max-width: 60%;
}
.mw-70-hc {
  max-width: 70%;
}
.mw-75-hc {
  max-width: 75%;
}
.mw-80-hc {
  max-width: 80%;
}
.mw-90-hc {
  max-width: 90%;
}
.mw-100-hc {
  max-width: 100%;
}
.mw-third-hc {
  max-width: calc(100% / 3);
}
.mw-two-thirds-hc {
  max-width: calc(100% / 1.5);
}
.mw-10vw-hc {
  max-width: 10vw;
}
.mw-20vw-hc {
  max-width: 20vw;
}
.mw-30vw-hc {
  max-width: 30vw;
}
.mw-40vw-hc {
  max-width: 40vw;
}
.mw-50vw-hc {
  max-width: 50vw;
}
.mw-60vw-hc {
  max-width: 60vw;
}
.mw-70vw-hc {
  max-width: 70vw;
}
.mw-80vw-hc {
  max-width: 80vw;
}
.mw-90vw-hc {
  max-width: 90vw;
}
.mw-100vw-hc {
  max-width: 100vw;
}
.mw-auto-hc {
  max-width: auto;
}
.minw-1-hc {
  min-width: calc(2 * var(--mg-sp-1));
}
.minw-2-hc {
  min-width: calc(2 * var(--mg-sp-2));
}
.minw-3-hc {
  min-width: calc(2 * var(--mg-sp-3));
}
.minw-4-hc {
  min-width: calc(2 * var(--mg-sp-4));
}
.minw-5-hc {
  min-width: calc(2 * var(--mg-sp-5));
}
.minw-6-hc {
  min-width: calc(2 * var(--mg-sp-6));
}
.minw-7-hc {
  min-width: calc(2 * var(--mg-sp-7));
}
.minw-8-hc {
  min-width: calc(2 * var(--mg-sp-8));
}
.minw-10-hc {
  min-width: 10%;
}
.minw-20-hc {
  min-width: 20%;
}
.minw-25-hc {
  min-width: 25%;
}
.minw-30-hc {
  min-width: 30%;
}
.minw-40-hc {
  min-width: 40%;
}
.minw-50-hc {
  min-width: 50%;
}
.minw-60-hc {
  min-width: 60%;
}
.minw-70-hc {
  min-width: 70%;
}
.minw-75-hc {
  min-width: 75%;
}
.minw-80-hc {
  min-width: 80%;
}
.minw-90-hc {
  min-width: 90%;
}
.minw-100-hc {
  min-width: 100%;
}
.minw-third-hc {
  min-width: calc(100% / 3);
}
.minw-two-thirds-hc {
  min-width: calc(100% / 1.5);
}
.minw-10vw-hc {
  min-width: 10vw;
}
.minw-20vw-hc {
  min-width: 20vw;
}
.minw-30vw-hc {
  min-width: 30vw;
}
.minw-40vw-hc {
  min-width: 40vw;
}
.minw-50vw-hc {
  min-width: 50vw;
}
.minw-60vw-hc {
  min-width: 60vw;
}
.minw-70vw-hc {
  min-width: 70vw;
}
.minw-80vw-hc {
  min-width: 80vw;
}
.minw-90vw-hc {
  min-width: 90vw;
}
.minw-100vw-hc {
  min-width: 100vw;
}
.minw-auto-hc {
  min-width: auto;
}
.h-1-hc {
  height: calc(2 * var(--mg-sp-1));
}
.h-2-hc {
  height: calc(2 * var(--mg-sp-2));
}
.h-3-hc {
  height: calc(2 * var(--mg-sp-3));
}
.h-4-hc {
  height: calc(2 * var(--mg-sp-4));
}
.h-5-hc {
  height: calc(2 * var(--mg-sp-5));
}
.h-6-hc {
  height: calc(2 * var(--mg-sp-6));
}
.h-7-hc {
  height: calc(2 * var(--mg-sp-7));
}
.h-8-hc {
  height: calc(2 * var(--mg-sp-8));
}
.h-10-hc {
  height: 10%;
}
.h-20-hc {
  height: 20%;
}
.h-25-hc {
  height: 25%;
}
.h-30-hc {
  height: 30%;
}
.h-40-hc {
  height: 40%;
}
.h-50-hc {
  height: 50%;
}
.h-60-hc {
  height: 60%;
}
.h-70-hc {
  height: 70%;
}
.h-75-hc {
  height: 75%;
}
.h-80-hc {
  height: 80%;
}
.h-90-hc {
  height: 90%;
}
.h-100-hc {
  height: 100%;
}
.h-third-hc {
  height: calc(100% / 3);
}
.h-two-thirds-hc {
  height: calc(100% / 1.5);
}
.h-10vh-hc {
  height: 10vh;
}
.h-20vh-hc {
  height: 20vh;
}
.h-30vh-hc {
  height: 30vh;
}
.h-40vh-hc {
  height: 40vh;
}
.h-50vh-hc {
  height: 50vh;
}
.h-60vh-hc {
  height: 60vh;
}
.h-70vh-hc {
  height: 70vh;
}
.h-80vh-hc {
  height: 80vh;
}
.h-90vh-hc {
  height: 90vh;
}
.h-100vh-hc {
  height: 100vh;
}
.h-auto-hc {
  height: auto;
}
.max-height-1-hc {
  max-height: calc(2 * var(--mg-sp-1));
}
.max-height-2-hc {
  max-height: calc(2 * var(--mg-sp-2));
}
.max-height-3-hc {
  max-height: calc(2 * var(--mg-sp-3));
}
.max-height-4-hc {
  max-height: calc(2 * var(--mg-sp-4));
}
.max-height-5-hc {
  max-height: calc(2 * var(--mg-sp-5));
}
.max-height-6-hc {
  max-height: calc(2 * var(--mg-sp-6));
}
.max-height-7-hc {
  max-height: calc(2 * var(--mg-sp-7));
}
.max-height-8-hc {
  max-height: calc(2 * var(--mg-sp-8));
}
.max-height-10-hc {
  max-height: 10%;
}
.max-height-20-hc {
  max-height: 20%;
}
.max-height-25-hc {
  max-height: 25%;
}
.max-height-30-hc {
  max-height: 30%;
}
.max-height-40-hc {
  max-height: 40%;
}
.max-height-50-hc {
  max-height: 50%;
}
.max-height-60-hc {
  max-height: 60%;
}
.max-height-70-hc {
  max-height: 70%;
}
.max-height-75-hc {
  max-height: 75%;
}
.max-height-80-hc {
  max-height: 80%;
}
.max-height-90-hc {
  max-height: 90%;
}
.max-height-100-hc {
  max-height: 100%;
}
.max-height-third-hc {
  max-height: calc(100% / 3);
}
.max-height-two-thirds-hc {
  max-height: calc(100% / 1.5);
}
.max-height-10vh-hc {
  max-height: 10vh;
}
.max-height-20vh-hc {
  max-height: 20vh;
}
.max-height-30vh-hc {
  max-height: 30vh;
}
.max-height-40vh-hc {
  max-height: 40vh;
}
.max-height-50vh-hc {
  max-height: 50vh;
}
.max-height-60vh-hc {
  max-height: 60vh;
}
.max-height-70vh-hc {
  max-height: 70vh;
}
.max-height-80vh-hc {
  max-height: 80vh;
}
.max-height-90vh-hc {
  max-height: 90vh;
}
.max-height-100vh-hc {
  max-height: 100vh;
}
.max-height-auto-hc {
  max-height: auto;
}
.content-box-hc {
  box-sizing: content-box;
}
.border-box-hc {
  box-sizing: border-box;
}
.ff-sans-hc {
  font-family: var(--mg-ff-sans);
}
.ff-serif-hc {
  font-family: var(--mg-ff-serif);
}
.ff-mono-hc {
  font-family: var(--mg-ff-mono);
}
.ff-cursive-hc {
  font-family: var(--mg-ff-cursive);
}
.ff-fantasy-hc {
  font-family: var(--mg-ff-fantasy);
}
.f-1-hc {
  font-size: var(--mg-fs-1);
}
.f-2-hc {
  font-size: var(--mg-fs-2);
}
.f-3-hc {
  font-size: var(--mg-fs-3);
}
.f-4-hc {
  font-size: var(--mg-fs-4);
}
.f-5-hc {
  font-size: var(--mg-fs-5);
}
.f-6-hc {
  font-size: var(--mg-fs-6);
}
.f-7-hc {
  font-size: var(--mg-fs-7);
}
.f-8-hc {
  font-size: var(--mg-fs-8);
}
.f-9-hc {
  font-size: var(--mg-fs-9);
}
.fw-normal-hc {
  font-weight: normal;
}
.fw-bold-hc {
  font-weight: bold;
}
.fw-1-hc {
  font-weight: 100;
}
.fw-2-hc {
  font-weight: 200;
}
.fw-3-hc {
  font-weight: 300;
}
.fw-4-hc {
  font-weight: 400;
}
.fw-5-hc {
  font-weight: 500;
}
.fw-6-hc {
  font-weight: 600;
}
.fw-7-hc {
  font-weight: 700;
}
.fw-8-hc {
  font-weight: 800;
}
.fw-9-hc {
  font-weight: 900;
}
.fs-normal-hc {
  font-style: normal;
}
.fs-italic-hc {
  font-style: italic;
}
.fv-sc-hc {
  font-variant: small-caps;
}
.fv-normal-hc {
  font-variant: normal;
}
.tr-hc {
  text-align: right;
}
.tc-hc {
  text-align: center;
}
.tl-hc {
  text-align: left;
}
.va-baseline-hc {
  vertical-align: baseline;
}
.va-middle-hc {
  vertical-align: middle;
}
.va-top-hc {
  vertical-align: top;
}
.va-bottom-hc {
  vertical-align: bottom;
}
.ttn-hc {
  text-transform: none;
}
.ttu-hc {
  text-transform: uppercase;
}
.ttl-hc {
  text-transform: lowercase;
}
.ttc-hc {
  text-transform: capitalize;
}
.tdn-hc {
  text-decoration: none;
}
.hover-tdn-hc:hover {
  text-decoration: none;
}
.tdu-hc {
  text-decoration: underline;
}
.hover-tdu-hc:hover {
  text-decoration: underline;
}
.tds-hc {
  text-decoration: line-through;
}
.hover-tds-hc:hover {
  text-decoration: line-through;
}
.tdo-hc {
  text-decoration: overline;
}
.hover-tdo-hc:hover {
  text-decoration: overline;
}
.indent-0-hc {
  text-indent: 0;
}
.indent-1-hc {
  text-indent: var(--mg-ident-1);
}
.indent-2-hc {
  text-indent: var(--mg-ident-2);
}
.indent-3-hc {
  text-indent: var(--mg-ident-3);
}
.indent--1-hc {
  text-indent: var(--mg-ident--1);
}
.indent--2-hc {
  text-indent: var(--mg-ident--2);
}
.indent--3-hc {
  text-indent: var(--mg-ident--3);
}
.ws-normal-hc {
  white-space: normal;
}
.ws-nowrap-hc {
  white-space: nowrap;
}
.ws-pre-hc {
  white-space: pre;
}
.lh-solid-hc {
  line-height: var(--mg-lh-solid);
}
.lh-title-hc {
  line-height: var(--mg-lh-title);
}
.lh-copy-hc {
  line-height: var(--mg-lh-copy);
}
.tracked-hc {
  letter-spacing: var(--mg-ls);
}
.tracked-tight-hc {
  letter-spacing: var(--mg-ls-tight);
}
.tracked-mega-hc {
  letter-spacing: var(--mg-ls-mega);
}
.tracked-none-hc {
  letter-spacing: var(--mg-ls-none);
}
.measure-hc {
  max-width: var(--mg-tw);
}
.measure-wide-hc {
  max-width: var(--mg-tw-wide);
}
.measure-narrow-hc {
  max-width: var(--mg-tw-narrow);
}
.b-hc {
  font-weight: bold;
}
.i-hc {
  font-style: italic;
}
.sc-hc {
  font-variant: small-caps;
}
.u-hc {
  text-decoration: underline;
}
.p-hc {
  max-width: var(--mg-tw);
  line-height: var(--mg-lh-copy);
}
.db-hc {
  display: block;
}
.di-hc {
  display: inline;
}
.dib-hc {
  display: inline-block;
}
.dn-hc {
  display: none;
}
.dfr-hc {
  display: flow-root;
}
.dt-hc {
  display: table;
}
.dtc-hc {
  display: table-cell;
}
.dtrow-hc {
  display: table-row;
}
.dtrow-group-hc {
  display: table-row-group;
}
.dtcolumn-hc {
  display: table-column;
}
.dtcolumn-group-hc {
  display: table-column-group;
}
.collapse-hc {
  border-collapse: collapse;
  border-spacing: 0;
}
.appearance-none-hc {
  appearance: none;
}
.appearance-auto-hc {
  appearance: auto;
}
.sr-only-hc {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.undo-sr-only-hc {
  position: static;
  padding: 0;
  margin: 0;
  clip: auto;
  white-space: normal;
  width: auto;
  height: auto;
  overflow: visible;
}
.red-100-hc {
  color: var(--mg-red-100);
}
.red-200-hc {
  color: var(--mg-red-200);
}
.red-300-hc {
  color: var(--mg-red-300);
}
.red-400-hc {
  color: var(--mg-red-400);
}
.red-500-hc {
  color: var(--mg-red-500);
}
.red-600-hc {
  color: var(--mg-red-600);
}
.red-700-hc {
  color: var(--mg-red-700);
}
.red-800-hc {
  color: var(--mg-red-800);
}
.red-900-hc {
  color: var(--mg-red-900);
}
.hover-red-100-hc:hover {
  color: var(--mg-red-100);
}
.hover-red-200-hc:hover {
  color: var(--mg-red-200);
}
.hover-red-300-hc:hover {
  color: var(--mg-red-300);
}
.hover-red-400-hc:hover {
  color: var(--mg-red-400);
}
.hover-red-500-hc:hover {
  color: var(--mg-red-500);
}
.hover-red-600-hc:hover {
  color: var(--mg-red-600);
}
.hover-red-700-hc:hover {
  color: var(--mg-red-700);
}
.hover-red-800-hc:hover {
  color: var(--mg-red-800);
}
.hover-red-900-hc:hover {
  color: var(--mg-red-900);
}
.bg-red-100-hc {
  background-color: var(--mg-red-100);
}
.bg-red-200-hc {
  background-color: var(--mg-red-200);
}
.bg-red-300-hc {
  background-color: var(--mg-red-300);
}
.bg-red-400-hc {
  background-color: var(--mg-red-400);
}
.bg-red-500-hc {
  background-color: var(--mg-red-500);
}
.bg-red-600-hc {
  background-color: var(--mg-red-600);
}
.bg-red-700-hc {
  background-color: var(--mg-red-700);
}
.bg-red-800-hc {
  background-color: var(--mg-red-800);
}
.bg-red-900-hc {
  background-color: var(--mg-red-900);
}
.hover-bg-red-100-hc:hover {
  background-color: var(--mg-red-100);
}
.hover-bg-red-200-hc:hover {
  background-color: var(--mg-red-200);
}
.hover-bg-red-300-hc:hover {
  background-color: var(--mg-red-300);
}
.hover-bg-red-400-hc:hover {
  background-color: var(--mg-red-400);
}
.hover-bg-red-500-hc:hover {
  background-color: var(--mg-red-500);
}
.hover-bg-red-600-hc:hover {
  background-color: var(--mg-red-600);
}
.hover-bg-red-700-hc:hover {
  background-color: var(--mg-red-700);
}
.hover-bg-red-800-hc:hover {
  background-color: var(--mg-red-800);
}
.hover-bg-red-900-hc:hover {
  background-color: var(--mg-red-900);
}
.bc-red-100-hc {
  border-color: var(--mg-red-100);
}
.bc-red-200-hc {
  border-color: var(--mg-red-200);
}
.bc-red-300-hc {
  border-color: var(--mg-red-300);
}
.bc-red-400-hc {
  border-color: var(--mg-red-400);
}
.bc-red-500-hc {
  border-color: var(--mg-red-500);
}
.bc-red-600-hc {
  border-color: var(--mg-red-600);
}
.bc-red-700-hc {
  border-color: var(--mg-red-700);
}
.bc-red-800-hc {
  border-color: var(--mg-red-800);
}
.bc-red-900-hc {
  border-color: var(--mg-red-900);
}
.hover-bc-red-100-hc:hover {
  border-color: var(--mg-red-100);
}
.hover-bc-red-200-hc:hover {
  border-color: var(--mg-red-200);
}
.hover-bc-red-300-hc:hover {
  border-color: var(--mg-red-300);
}
.hover-bc-red-400-hc:hover {
  border-color: var(--mg-red-400);
}
.hover-bc-red-500-hc:hover {
  border-color: var(--mg-red-500);
}
.hover-bc-red-600-hc:hover {
  border-color: var(--mg-red-600);
}
.hover-bc-red-700-hc:hover {
  border-color: var(--mg-red-700);
}
.hover-bc-red-800-hc:hover {
  border-color: var(--mg-red-800);
}
.hover-bc-red-900-hc:hover {
  border-color: var(--mg-red-900);
}
.orange-100-hc {
  color: var(--mg-orange-100);
}
.orange-200-hc {
  color: var(--mg-orange-200);
}
.orange-300-hc {
  color: var(--mg-orange-300);
}
.orange-400-hc {
  color: var(--mg-orange-400);
}
.orange-500-hc {
  color: var(--mg-orange-500);
}
.orange-600-hc {
  color: var(--mg-orange-600);
}
.orange-700-hc {
  color: var(--mg-orange-700);
}
.orange-800-hc {
  color: var(--mg-orange-800);
}
.orange-900-hc {
  color: var(--mg-orange-900);
}
.hover-orange-100-hc:hover {
  color: var(--mg-orange-100);
}
.hover-orange-200-hc:hover {
  color: var(--mg-orange-200);
}
.hover-orange-300-hc:hover {
  color: var(--mg-orange-300);
}
.hover-orange-400-hc:hover {
  color: var(--mg-orange-400);
}
.hover-orange-500-hc:hover {
  color: var(--mg-orange-500);
}
.hover-orange-600-hc:hover {
  color: var(--mg-orange-600);
}
.hover-orange-700-hc:hover {
  color: var(--mg-orange-700);
}
.hover-orange-800-hc:hover {
  color: var(--mg-orange-800);
}
.hover-orange-900-hc:hover {
  color: var(--mg-orange-900);
}
.bg-orange-100-hc {
  background-color: var(--mg-orange-100);
}
.bg-orange-200-hc {
  background-color: var(--mg-orange-200);
}
.bg-orange-300-hc {
  background-color: var(--mg-orange-300);
}
.bg-orange-400-hc {
  background-color: var(--mg-orange-400);
}
.bg-orange-500-hc {
  background-color: var(--mg-orange-500);
}
.bg-orange-600-hc {
  background-color: var(--mg-orange-600);
}
.bg-orange-700-hc {
  background-color: var(--mg-orange-700);
}
.bg-orange-800-hc {
  background-color: var(--mg-orange-800);
}
.bg-orange-900-hc {
  background-color: var(--mg-orange-900);
}
.hover-bg-orange-100-hc:hover {
  background-color: var(--mg-orange-100);
}
.hover-bg-orange-200-hc:hover {
  background-color: var(--mg-orange-200);
}
.hover-bg-orange-300-hc:hover {
  background-color: var(--mg-orange-300);
}
.hover-bg-orange-400-hc:hover {
  background-color: var(--mg-orange-400);
}
.hover-bg-orange-500-hc:hover {
  background-color: var(--mg-orange-500);
}
.hover-bg-orange-600-hc:hover {
  background-color: var(--mg-orange-600);
}
.hover-bg-orange-700-hc:hover {
  background-color: var(--mg-orange-700);
}
.hover-bg-orange-800-hc:hover {
  background-color: var(--mg-orange-800);
}
.hover-bg-orange-900-hc:hover {
  background-color: var(--mg-orange-900);
}
.bc-orange-100-hc {
  border-color: var(--mg-orange-100);
}
.bc-orange-200-hc {
  border-color: var(--mg-orange-200);
}
.bc-orange-300-hc {
  border-color: var(--mg-orange-300);
}
.bc-orange-400-hc {
  border-color: var(--mg-orange-400);
}
.bc-orange-500-hc {
  border-color: var(--mg-orange-500);
}
.bc-orange-600-hc {
  border-color: var(--mg-orange-600);
}
.bc-orange-700-hc {
  border-color: var(--mg-orange-700);
}
.bc-orange-800-hc {
  border-color: var(--mg-orange-800);
}
.bc-orange-900-hc {
  border-color: var(--mg-orange-900);
}
.hover-bc-orange-100-hc:hover {
  border-color: var(--mg-orange-100);
}
.hover-bc-orange-200-hc:hover {
  border-color: var(--mg-orange-200);
}
.hover-bc-orange-300-hc:hover {
  border-color: var(--mg-orange-300);
}
.hover-bc-orange-400-hc:hover {
  border-color: var(--mg-orange-400);
}
.hover-bc-orange-500-hc:hover {
  border-color: var(--mg-orange-500);
}
.hover-bc-orange-600-hc:hover {
  border-color: var(--mg-orange-600);
}
.hover-bc-orange-700-hc:hover {
  border-color: var(--mg-orange-700);
}
.hover-bc-orange-800-hc:hover {
  border-color: var(--mg-orange-800);
}
.hover-bc-orange-900-hc:hover {
  border-color: var(--mg-orange-900);
}
.yellow-100-hc {
  color: var(--mg-yellow-100);
}
.yellow-200-hc {
  color: var(--mg-yellow-200);
}
.yellow-300-hc {
  color: var(--mg-yellow-300);
}
.yellow-400-hc {
  color: var(--mg-yellow-400);
}
.yellow-500-hc {
  color: var(--mg-yellow-500);
}
.yellow-600-hc {
  color: var(--mg-yellow-600);
}
.yellow-700-hc {
  color: var(--mg-yellow-700);
}
.yellow-800-hc {
  color: var(--mg-yellow-800);
}
.yellow-900-hc {
  color: var(--mg-yellow-900);
}
.hover-yellow-100-hc:hover {
  color: var(--mg-yellow-100);
}
.hover-yellow-200-hc:hover {
  color: var(--mg-yellow-200);
}
.hover-yellow-300-hc:hover {
  color: var(--mg-yellow-300);
}
.hover-yellow-400-hc:hover {
  color: var(--mg-yellow-400);
}
.hover-yellow-500-hc:hover {
  color: var(--mg-yellow-500);
}
.hover-yellow-600-hc:hover {
  color: var(--mg-yellow-600);
}
.hover-yellow-700-hc:hover {
  color: var(--mg-yellow-700);
}
.hover-yellow-800-hc:hover {
  color: var(--mg-yellow-800);
}
.hover-yellow-900-hc:hover {
  color: var(--mg-yellow-900);
}
.bg-yellow-100-hc {
  background-color: var(--mg-yellow-100);
}
.bg-yellow-200-hc {
  background-color: var(--mg-yellow-200);
}
.bg-yellow-300-hc {
  background-color: var(--mg-yellow-300);
}
.bg-yellow-400-hc {
  background-color: var(--mg-yellow-400);
}
.bg-yellow-500-hc {
  background-color: var(--mg-yellow-500);
}
.bg-yellow-600-hc {
  background-color: var(--mg-yellow-600);
}
.bg-yellow-700-hc {
  background-color: var(--mg-yellow-700);
}
.bg-yellow-800-hc {
  background-color: var(--mg-yellow-800);
}
.bg-yellow-900-hc {
  background-color: var(--mg-yellow-900);
}
.hover-bg-yellow-100-hc:hover {
  background-color: var(--mg-yellow-100);
}
.hover-bg-yellow-200-hc:hover {
  background-color: var(--mg-yellow-200);
}
.hover-bg-yellow-300-hc:hover {
  background-color: var(--mg-yellow-300);
}
.hover-bg-yellow-400-hc:hover {
  background-color: var(--mg-yellow-400);
}
.hover-bg-yellow-500-hc:hover {
  background-color: var(--mg-yellow-500);
}
.hover-bg-yellow-600-hc:hover {
  background-color: var(--mg-yellow-600);
}
.hover-bg-yellow-700-hc:hover {
  background-color: var(--mg-yellow-700);
}
.hover-bg-yellow-800-hc:hover {
  background-color: var(--mg-yellow-800);
}
.hover-bg-yellow-900-hc:hover {
  background-color: var(--mg-yellow-900);
}
.bc-yellow-100-hc {
  border-color: var(--mg-yellow-100);
}
.bc-yellow-200-hc {
  border-color: var(--mg-yellow-200);
}
.bc-yellow-300-hc {
  border-color: var(--mg-yellow-300);
}
.bc-yellow-400-hc {
  border-color: var(--mg-yellow-400);
}
.bc-yellow-500-hc {
  border-color: var(--mg-yellow-500);
}
.bc-yellow-600-hc {
  border-color: var(--mg-yellow-600);
}
.bc-yellow-700-hc {
  border-color: var(--mg-yellow-700);
}
.bc-yellow-800-hc {
  border-color: var(--mg-yellow-800);
}
.bc-yellow-900-hc {
  border-color: var(--mg-yellow-900);
}
.hover-bc-yellow-100-hc:hover {
  border-color: var(--mg-yellow-100);
}
.hover-bc-yellow-200-hc:hover {
  border-color: var(--mg-yellow-200);
}
.hover-bc-yellow-300-hc:hover {
  border-color: var(--mg-yellow-300);
}
.hover-bc-yellow-400-hc:hover {
  border-color: var(--mg-yellow-400);
}
.hover-bc-yellow-500-hc:hover {
  border-color: var(--mg-yellow-500);
}
.hover-bc-yellow-600-hc:hover {
  border-color: var(--mg-yellow-600);
}
.hover-bc-yellow-700-hc:hover {
  border-color: var(--mg-yellow-700);
}
.hover-bc-yellow-800-hc:hover {
  border-color: var(--mg-yellow-800);
}
.hover-bc-yellow-900-hc:hover {
  border-color: var(--mg-yellow-900);
}
.green-100-hc {
  color: var(--mg-green-100);
}
.green-200-hc {
  color: var(--mg-green-200);
}
.green-300-hc {
  color: var(--mg-green-300);
}
.green-400-hc {
  color: var(--mg-green-400);
}
.green-500-hc {
  color: var(--mg-green-500);
}
.green-600-hc {
  color: var(--mg-green-600);
}
.green-700-hc {
  color: var(--mg-green-700);
}
.green-800-hc {
  color: var(--mg-green-800);
}
.green-900-hc {
  color: var(--mg-green-900);
}
.hover-green-100-hc:hover {
  color: var(--mg-green-100);
}
.hover-green-200-hc:hover {
  color: var(--mg-green-200);
}
.hover-green-300-hc:hover {
  color: var(--mg-green-300);
}
.hover-green-400-hc:hover {
  color: var(--mg-green-400);
}
.hover-green-500-hc:hover {
  color: var(--mg-green-500);
}
.hover-green-600-hc:hover {
  color: var(--mg-green-600);
}
.hover-green-700-hc:hover {
  color: var(--mg-green-700);
}
.hover-green-800-hc:hover {
  color: var(--mg-green-800);
}
.hover-green-900-hc:hover {
  color: var(--mg-green-900);
}
.bg-green-100-hc {
  background-color: var(--mg-green-100);
}
.bg-green-200-hc {
  background-color: var(--mg-green-200);
}
.bg-green-300-hc {
  background-color: var(--mg-green-300);
}
.bg-green-400-hc {
  background-color: var(--mg-green-400);
}
.bg-green-500-hc {
  background-color: var(--mg-green-500);
}
.bg-green-600-hc {
  background-color: var(--mg-green-600);
}
.bg-green-700-hc {
  background-color: var(--mg-green-700);
}
.bg-green-800-hc {
  background-color: var(--mg-green-800);
}
.bg-green-900-hc {
  background-color: var(--mg-green-900);
}
.hover-bg-green-100-hc:hover {
  background-color: var(--mg-green-100);
}
.hover-bg-green-200-hc:hover {
  background-color: var(--mg-green-200);
}
.hover-bg-green-300-hc:hover {
  background-color: var(--mg-green-300);
}
.hover-bg-green-400-hc:hover {
  background-color: var(--mg-green-400);
}
.hover-bg-green-500-hc:hover {
  background-color: var(--mg-green-500);
}
.hover-bg-green-600-hc:hover {
  background-color: var(--mg-green-600);
}
.hover-bg-green-700-hc:hover {
  background-color: var(--mg-green-700);
}
.hover-bg-green-800-hc:hover {
  background-color: var(--mg-green-800);
}
.hover-bg-green-900-hc:hover {
  background-color: var(--mg-green-900);
}
.bc-green-100-hc {
  border-color: var(--mg-green-100);
}
.bc-green-200-hc {
  border-color: var(--mg-green-200);
}
.bc-green-300-hc {
  border-color: var(--mg-green-300);
}
.bc-green-400-hc {
  border-color: var(--mg-green-400);
}
.bc-green-500-hc {
  border-color: var(--mg-green-500);
}
.bc-green-600-hc {
  border-color: var(--mg-green-600);
}
.bc-green-700-hc {
  border-color: var(--mg-green-700);
}
.bc-green-800-hc {
  border-color: var(--mg-green-800);
}
.bc-green-900-hc {
  border-color: var(--mg-green-900);
}
.hover-bc-green-100-hc:hover {
  border-color: var(--mg-green-100);
}
.hover-bc-green-200-hc:hover {
  border-color: var(--mg-green-200);
}
.hover-bc-green-300-hc:hover {
  border-color: var(--mg-green-300);
}
.hover-bc-green-400-hc:hover {
  border-color: var(--mg-green-400);
}
.hover-bc-green-500-hc:hover {
  border-color: var(--mg-green-500);
}
.hover-bc-green-600-hc:hover {
  border-color: var(--mg-green-600);
}
.hover-bc-green-700-hc:hover {
  border-color: var(--mg-green-700);
}
.hover-bc-green-800-hc:hover {
  border-color: var(--mg-green-800);
}
.hover-bc-green-900-hc:hover {
  border-color: var(--mg-green-900);
}
.blue-100-hc {
  color: var(--mg-blue-100);
}
.blue-200-hc {
  color: var(--mg-blue-200);
}
.blue-300-hc {
  color: var(--mg-blue-300);
}
.blue-400-hc {
  color: var(--mg-blue-400);
}
.blue-500-hc {
  color: var(--mg-blue-500);
}
.blue-600-hc {
  color: var(--mg-blue-600);
}
.blue-700-hc {
  color: var(--mg-blue-700);
}
.blue-800-hc {
  color: var(--mg-blue-800);
}
.blue-900-hc {
  color: var(--mg-blue-900);
}
.hover-blue-100-hc:hover {
  color: var(--mg-blue-100);
}
.hover-blue-200-hc:hover {
  color: var(--mg-blue-200);
}
.hover-blue-300-hc:hover {
  color: var(--mg-blue-300);
}
.hover-blue-400-hc:hover {
  color: var(--mg-blue-400);
}
.hover-blue-500-hc:hover {
  color: var(--mg-blue-500);
}
.hover-blue-600-hc:hover {
  color: var(--mg-blue-600);
}
.hover-blue-700-hc:hover {
  color: var(--mg-blue-700);
}
.hover-blue-800-hc:hover {
  color: var(--mg-blue-800);
}
.hover-blue-900-hc:hover {
  color: var(--mg-blue-900);
}
.bg-blue-100-hc {
  background-color: var(--mg-blue-100);
}
.bg-blue-200-hc {
  background-color: var(--mg-blue-200);
}
.bg-blue-300-hc {
  background-color: var(--mg-blue-300);
}
.bg-blue-400-hc {
  background-color: var(--mg-blue-400);
}
.bg-blue-500-hc {
  background-color: var(--mg-blue-500);
}
.bg-blue-600-hc {
  background-color: var(--mg-blue-600);
}
.bg-blue-700-hc {
  background-color: var(--mg-blue-700);
}
.bg-blue-800-hc {
  background-color: var(--mg-blue-800);
}
.bg-blue-900-hc {
  background-color: var(--mg-blue-900);
}
.hover-bg-blue-100-hc:hover {
  background-color: var(--mg-blue-100);
}
.hover-bg-blue-200-hc:hover {
  background-color: var(--mg-blue-200);
}
.hover-bg-blue-300-hc:hover {
  background-color: var(--mg-blue-300);
}
.hover-bg-blue-400-hc:hover {
  background-color: var(--mg-blue-400);
}
.hover-bg-blue-500-hc:hover {
  background-color: var(--mg-blue-500);
}
.hover-bg-blue-600-hc:hover {
  background-color: var(--mg-blue-600);
}
.hover-bg-blue-700-hc:hover {
  background-color: var(--mg-blue-700);
}
.hover-bg-blue-800-hc:hover {
  background-color: var(--mg-blue-800);
}
.hover-bg-blue-900-hc:hover {
  background-color: var(--mg-blue-900);
}
.bc-blue-100-hc {
  border-color: var(--mg-blue-100);
}
.bc-blue-200-hc {
  border-color: var(--mg-blue-200);
}
.bc-blue-300-hc {
  border-color: var(--mg-blue-300);
}
.bc-blue-400-hc {
  border-color: var(--mg-blue-400);
}
.bc-blue-500-hc {
  border-color: var(--mg-blue-500);
}
.bc-blue-600-hc {
  border-color: var(--mg-blue-600);
}
.bc-blue-700-hc {
  border-color: var(--mg-blue-700);
}
.bc-blue-800-hc {
  border-color: var(--mg-blue-800);
}
.bc-blue-900-hc {
  border-color: var(--mg-blue-900);
}
.hover-bc-blue-100-hc:hover {
  border-color: var(--mg-blue-100);
}
.hover-bc-blue-200-hc:hover {
  border-color: var(--mg-blue-200);
}
.hover-bc-blue-300-hc:hover {
  border-color: var(--mg-blue-300);
}
.hover-bc-blue-400-hc:hover {
  border-color: var(--mg-blue-400);
}
.hover-bc-blue-500-hc:hover {
  border-color: var(--mg-blue-500);
}
.hover-bc-blue-600-hc:hover {
  border-color: var(--mg-blue-600);
}
.hover-bc-blue-700-hc:hover {
  border-color: var(--mg-blue-700);
}
.hover-bc-blue-800-hc:hover {
  border-color: var(--mg-blue-800);
}
.hover-bc-blue-900-hc:hover {
  border-color: var(--mg-blue-900);
}
.purple-100-hc {
  color: var(--mg-purple-100);
}
.purple-200-hc {
  color: var(--mg-purple-200);
}
.purple-300-hc {
  color: var(--mg-purple-300);
}
.purple-400-hc {
  color: var(--mg-purple-400);
}
.purple-500-hc {
  color: var(--mg-purple-500);
}
.purple-600-hc {
  color: var(--mg-purple-600);
}
.purple-700-hc {
  color: var(--mg-purple-700);
}
.purple-800-hc {
  color: var(--mg-purple-800);
}
.purple-900-hc {
  color: var(--mg-purple-900);
}
.hover-purple-100-hc:hover {
  color: var(--mg-purple-100);
}
.hover-purple-200-hc:hover {
  color: var(--mg-purple-200);
}
.hover-purple-300-hc:hover {
  color: var(--mg-purple-300);
}
.hover-purple-400-hc:hover {
  color: var(--mg-purple-400);
}
.hover-purple-500-hc:hover {
  color: var(--mg-purple-500);
}
.hover-purple-600-hc:hover {
  color: var(--mg-purple-600);
}
.hover-purple-700-hc:hover {
  color: var(--mg-purple-700);
}
.hover-purple-800-hc:hover {
  color: var(--mg-purple-800);
}
.hover-purple-900-hc:hover {
  color: var(--mg-purple-900);
}
.bg-purple-100-hc {
  background-color: var(--mg-purple-100);
}
.bg-purple-200-hc {
  background-color: var(--mg-purple-200);
}
.bg-purple-300-hc {
  background-color: var(--mg-purple-300);
}
.bg-purple-400-hc {
  background-color: var(--mg-purple-400);
}
.bg-purple-500-hc {
  background-color: var(--mg-purple-500);
}
.bg-purple-600-hc {
  background-color: var(--mg-purple-600);
}
.bg-purple-700-hc {
  background-color: var(--mg-purple-700);
}
.bg-purple-800-hc {
  background-color: var(--mg-purple-800);
}
.bg-purple-900-hc {
  background-color: var(--mg-purple-900);
}
.hover-bg-purple-100-hc:hover {
  background-color: var(--mg-purple-100);
}
.hover-bg-purple-200-hc:hover {
  background-color: var(--mg-purple-200);
}
.hover-bg-purple-300-hc:hover {
  background-color: var(--mg-purple-300);
}
.hover-bg-purple-400-hc:hover {
  background-color: var(--mg-purple-400);
}
.hover-bg-purple-500-hc:hover {
  background-color: var(--mg-purple-500);
}
.hover-bg-purple-600-hc:hover {
  background-color: var(--mg-purple-600);
}
.hover-bg-purple-700-hc:hover {
  background-color: var(--mg-purple-700);
}
.hover-bg-purple-800-hc:hover {
  background-color: var(--mg-purple-800);
}
.hover-bg-purple-900-hc:hover {
  background-color: var(--mg-purple-900);
}
.bc-purple-100-hc {
  border-color: var(--mg-purple-100);
}
.bc-purple-200-hc {
  border-color: var(--mg-purple-200);
}
.bc-purple-300-hc {
  border-color: var(--mg-purple-300);
}
.bc-purple-400-hc {
  border-color: var(--mg-purple-400);
}
.bc-purple-500-hc {
  border-color: var(--mg-purple-500);
}
.bc-purple-600-hc {
  border-color: var(--mg-purple-600);
}
.bc-purple-700-hc {
  border-color: var(--mg-purple-700);
}
.bc-purple-800-hc {
  border-color: var(--mg-purple-800);
}
.bc-purple-900-hc {
  border-color: var(--mg-purple-900);
}
.hover-bc-purple-100-hc:hover {
  border-color: var(--mg-purple-100);
}
.hover-bc-purple-200-hc:hover {
  border-color: var(--mg-purple-200);
}
.hover-bc-purple-300-hc:hover {
  border-color: var(--mg-purple-300);
}
.hover-bc-purple-400-hc:hover {
  border-color: var(--mg-purple-400);
}
.hover-bc-purple-500-hc:hover {
  border-color: var(--mg-purple-500);
}
.hover-bc-purple-600-hc:hover {
  border-color: var(--mg-purple-600);
}
.hover-bc-purple-700-hc:hover {
  border-color: var(--mg-purple-700);
}
.hover-bc-purple-800-hc:hover {
  border-color: var(--mg-purple-800);
}
.hover-bc-purple-900-hc:hover {
  border-color: var(--mg-purple-900);
}
.gray-100-hc {
  color: var(--mg-gray-100);
}
.gray-200-hc {
  color: var(--mg-gray-200);
}
.gray-300-hc {
  color: var(--mg-gray-300);
}
.gray-400-hc {
  color: var(--mg-gray-400);
}
.gray-500-hc {
  color: var(--mg-gray-500);
}
.gray-600-hc {
  color: var(--mg-gray-600);
}
.gray-700-hc {
  color: var(--mg-gray-700);
}
.gray-800-hc {
  color: var(--mg-gray-800);
}
.gray-900-hc {
  color: var(--mg-gray-900);
}
.hover-gray-100-hc:hover {
  color: var(--mg-gray-100);
}
.hover-gray-200-hc:hover {
  color: var(--mg-gray-200);
}
.hover-gray-300-hc:hover {
  color: var(--mg-gray-300);
}
.hover-gray-400-hc:hover {
  color: var(--mg-gray-400);
}
.hover-gray-500-hc:hover {
  color: var(--mg-gray-500);
}
.hover-gray-600-hc:hover {
  color: var(--mg-gray-600);
}
.hover-gray-700-hc:hover {
  color: var(--mg-gray-700);
}
.hover-gray-800-hc:hover {
  color: var(--mg-gray-800);
}
.hover-gray-900-hc:hover {
  color: var(--mg-gray-900);
}
.bg-gray-100-hc {
  background-color: var(--mg-gray-100);
}
.bg-gray-200-hc {
  background-color: var(--mg-gray-200);
}
.bg-gray-300-hc {
  background-color: var(--mg-gray-300);
}
.bg-gray-400-hc {
  background-color: var(--mg-gray-400);
}
.bg-gray-500-hc {
  background-color: var(--mg-gray-500);
}
.bg-gray-600-hc {
  background-color: var(--mg-gray-600);
}
.bg-gray-700-hc {
  background-color: var(--mg-gray-700);
}
.bg-gray-800-hc {
  background-color: var(--mg-gray-800);
}
.bg-gray-900-hc {
  background-color: var(--mg-gray-900);
}
.hover-bg-gray-100-hc:hover {
  background-color: var(--mg-gray-100);
}
.hover-bg-gray-200-hc:hover {
  background-color: var(--mg-gray-200);
}
.hover-bg-gray-300-hc:hover {
  background-color: var(--mg-gray-300);
}
.hover-bg-gray-400-hc:hover {
  background-color: var(--mg-gray-400);
}
.hover-bg-gray-500-hc:hover {
  background-color: var(--mg-gray-500);
}
.hover-bg-gray-600-hc:hover {
  background-color: var(--mg-gray-600);
}
.hover-bg-gray-700-hc:hover {
  background-color: var(--mg-gray-700);
}
.hover-bg-gray-800-hc:hover {
  background-color: var(--mg-gray-800);
}
.hover-bg-gray-900-hc:hover {
  background-color: var(--mg-gray-900);
}
.bc-gray-100-hc {
  border-color: var(--mg-gray-100);
}
.bc-gray-200-hc {
  border-color: var(--mg-gray-200);
}
.bc-gray-300-hc {
  border-color: var(--mg-gray-300);
}
.bc-gray-400-hc {
  border-color: var(--mg-gray-400);
}
.bc-gray-500-hc {
  border-color: var(--mg-gray-500);
}
.bc-gray-600-hc {
  border-color: var(--mg-gray-600);
}
.bc-gray-700-hc {
  border-color: var(--mg-gray-700);
}
.bc-gray-800-hc {
  border-color: var(--mg-gray-800);
}
.bc-gray-900-hc {
  border-color: var(--mg-gray-900);
}
.hover-bc-gray-100-hc:hover {
  border-color: var(--mg-gray-100);
}
.hover-bc-gray-200-hc:hover {
  border-color: var(--mg-gray-200);
}
.hover-bc-gray-300-hc:hover {
  border-color: var(--mg-gray-300);
}
.hover-bc-gray-400-hc:hover {
  border-color: var(--mg-gray-400);
}
.hover-bc-gray-500-hc:hover {
  border-color: var(--mg-gray-500);
}
.hover-bc-gray-600-hc:hover {
  border-color: var(--mg-gray-600);
}
.hover-bc-gray-700-hc:hover {
  border-color: var(--mg-gray-700);
}
.hover-bc-gray-800-hc:hover {
  border-color: var(--mg-gray-800);
}
.hover-bc-gray-900-hc:hover {
  border-color: var(--mg-gray-900);
}
.black-hc {
  color: var(--mg-black);
}
.black-ish-hc {
  color: var(--mg-black-ish);
}
.hover-black-hc:hover {
  color: var(--mg-black);
}
.hover-black-ish-hc:hover {
  color: var(--mg-black-ish);
}
.bg-black-hc {
  background-color: var(--mg-black);
}
.bg-black-ish-hc {
  background-color: var(--mg-black-ish);
}
.hover-bg-black-hc:hover {
  background-color: var(--mg-black);
}
.hover-bg-black-ish-hc:hover {
  background-color: var(--mg-black-ish);
}
.bc-black-hc {
  border-color: var(--mg-black);
}
.bc-black-ish-hc {
  border-color: var(--mg-black-ish);
}
.hover-bc-black-hc:hover {
  border-color: var(--mg-black);
}
.hover-bc-black-ish-hc:hover {
  border-color: var(--mg-black-ish);
}
.white-hc {
  color: var(--mg-white);
}
.white-ish-hc {
  color: var(--mg-white-ish);
}
.hover-white-hc:hover {
  color: var(--mg-white);
}
.hover-white-ish-hc:hover {
  color: var(--mg-white-ish);
}
.bg-white-hc {
  background-color: var(--mg-white);
}
.bg-white-ish-hc {
  background-color: var(--mg-white-ish);
}
.hover-bg-white-hc:hover {
  background-color: var(--mg-white);
}
.hover-bg-white-ish-hc:hover {
  background-color: var(--mg-white-ish);
}
.bc-white-hc {
  border-color: var(--mg-white);
}
.bc-white-ish-hc {
  border-color: var(--mg-white-ish);
}
.hover-bc-white-hc:hover {
  border-color: var(--mg-white);
}
.hover-bc-white-ish-hc:hover {
  border-color: var(--mg-white-ish);
}
.ba-hc {
  border-style: solid;
  border-width: 1px;
}
.bl-hc {
  border-left-style: solid;
  border-left-width: 1px;
}
.br-hc {
  border-right-style: solid;
  border-right-width: 1px;
}
.bt-hc {
  border-top-style: solid;
  border-top-width: 1px;
}
.bb-hc {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.bn-hc {
  border-style: none;
  border-width: 0;
}
.br-0-hc {
  border-radius: 0;
}
.br-1-hc {
  border-radius: var(--mg-bw-1);
}
.br-2-hc {
  border-radius: var(--mg-bw-2);
}
.br-3-hc {
  border-radius: var(--mg-bw-3);
}
.br-4-hc {
  border-radius: var(--mg-bw-4);
}
.br-5-hc {
  border-radius: var(--mg-bw-5);
}
.br-100-hc {
  border-radius: 100%;
}
.br-pill-hc {
  border-radius: 999px;
}
.br-bottom-0-hc {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.br-bottom-1-hc {
  border-bottom-left-radius: var(--mg-bw-1);
  border-bottom-right-radius: var(--mg-bw-1);
}
.br-bottom-2-hc {
  border-bottom-left-radius: var(--mg-bw-2);
  border-bottom-right-radius: var(--mg-bw-2);
}
.br-bottom-3-hc {
  border-bottom-left-radius: var(--mg-bw-3);
  border-bottom-right-radius: var(--mg-bw-3);
}
.br-bottom-4-hc {
  border-bottom-left-radius: var(--mg-bw-4);
  border-bottom-right-radius: var(--mg-bw-4);
}
.br-bottom-5-hc {
  border-bottom-left-radius: var(--mg-bw-5);
  border-bottom-right-radius: var(--mg-bw-5);
}
.br-bottom-100-hc {
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}
.br-bottom-pill-hc {
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
}
.br-top-0-hc {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.br-top-1-hc {
  border-top-left-radius: var(--mg-bw-1);
  border-top-right-radius: var(--mg-bw-1);
}
.br-top-2-hc {
  border-top-left-radius: var(--mg-bw-2);
  border-top-right-radius: var(--mg-bw-2);
}
.br-top-3-hc {
  border-top-left-radius: var(--mg-bw-3);
  border-top-right-radius: var(--mg-bw-3);
}
.br-top-4-hc {
  border-top-left-radius: var(--mg-bw-4);
  border-top-right-radius: var(--mg-bw-4);
}
.br-top-5-hc {
  border-top-left-radius: var(--mg-bw-5);
  border-top-right-radius: var(--mg-bw-5);
}
.br-top-100-hc {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.br-top-pill-hc {
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
}
.br-left-0-hc {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.br-left-1-hc {
  border-bottom-left-radius: var(--mg-bw-1);
  border-top-left-radius: var(--mg-bw-1);
}
.br-left-2-hc {
  border-bottom-left-radius: var(--mg-bw-2);
  border-top-left-radius: var(--mg-bw-2);
}
.br-left-3-hc {
  border-bottom-left-radius: var(--mg-bw-3);
  border-top-left-radius: var(--mg-bw-3);
}
.br-left-4-hc {
  border-bottom-left-radius: var(--mg-bw-4);
  border-top-left-radius: var(--mg-bw-4);
}
.br-left-5-hc {
  border-bottom-left-radius: var(--mg-bw-5);
  border-top-left-radius: var(--mg-bw-5);
}
.br-left-100-hc {
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}
.br-left-pill-hc {
  border-bottom-left-radius: 999px;
  border-top-left-radius: 999px;
}
.br-right-0-hc {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.br-right-1-hc {
  border-bottom-right-radius: var(--mg-bw-1);
  border-top-right-radius: var(--mg-bw-1);
}
.br-right-2-hc {
  border-bottom-right-radius: var(--mg-bw-2);
  border-top-right-radius: var(--mg-bw-2);
}
.br-right-3-hc {
  border-bottom-right-radius: var(--mg-bw-3);
  border-top-right-radius: var(--mg-bw-3);
}
.br-right-4-hc {
  border-bottom-right-radius: var(--mg-bw-4);
  border-top-right-radius: var(--mg-bw-4);
}
.br-right-5-hc {
  border-bottom-right-radius: var(--mg-bw-5);
  border-top-right-radius: var(--mg-bw-5);
}
.br-right-100-hc {
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
}
.br-right-pill-hc {
  border-bottom-right-radius: 999px;
  border-top-right-radius: 999px;
}
.br-tr-0-hc {
  border-top-right-radius: 0;
}
.br-tr-1-hc {
  border-top-right-radius: var(--mg-bw-1);
}
.br-tr-2-hc {
  border-top-right-radius: var(--mg-bw-2);
}
.br-tr-3-hc {
  border-top-right-radius: var(--mg-bw-3);
}
.br-tr-4-hc {
  border-top-right-radius: var(--mg-bw-4);
}
.br-tr-5-hc {
  border-top-right-radius: var(--mg-bw-5);
}
.br-tr-100-hc {
  border-top-right-radius: 100%;
}
.br-tr-pill-hc {
  border-top-right-radius: 999px;
}
.br-br-0-hc {
  border-bottom-right-radius: 0;
}
.br-br-1-hc {
  border-bottom-right-radius: var(--mg-bw-1);
}
.br-br-2-hc {
  border-bottom-right-radius: var(--mg-bw-2);
}
.br-br-3-hc {
  border-bottom-right-radius: var(--mg-bw-3);
}
.br-br-4-hc {
  border-bottom-right-radius: var(--mg-bw-4);
}
.br-br-5-hc {
  border-bottom-right-radius: var(--mg-bw-5);
}
.br-br-100-hc {
  border-bottom-right-radius: 100%;
}
.br-br-pill-hc {
  border-bottom-right-radius: 999px;
}
.br-tl-0-hc {
  border-top-left-radius: 0;
}
.br-tl-1-hc {
  border-top-left-radius: var(--mg-bw-1);
}
.br-tl-2-hc {
  border-top-left-radius: var(--mg-bw-2);
}
.br-tl-3-hc {
  border-top-left-radius: var(--mg-bw-3);
}
.br-tl-4-hc {
  border-top-left-radius: var(--mg-bw-4);
}
.br-tl-5-hc {
  border-top-left-radius: var(--mg-bw-5);
}
.br-tl-100-hc {
  border-top-left-radius: 100%;
}
.br-tl-pill-hc {
  border-top-left-radius: 999px;
}
.br-bl-0-hc {
  border-bottom-left-radius: 0;
}
.br-bl-1-hc {
  border-bottom-left-radius: var(--mg-bw-1);
}
.br-bl-2-hc {
  border-bottom-left-radius: var(--mg-bw-2);
}
.br-bl-3-hc {
  border-bottom-left-radius: var(--mg-bw-3);
}
.br-bl-4-hc {
  border-bottom-left-radius: var(--mg-bw-4);
}
.br-bl-5-hc {
  border-bottom-left-radius: var(--mg-bw-5);
}
.br-bl-100-hc {
  border-bottom-left-radius: 100%;
}
.br-bl-pill-hc {
  border-bottom-left-radius: 999px;
}
.bs-dotted-hc {
  border-style: dotted;
}
.bs-dashed-hc {
  border-style: dashed;
}
.bs-solid-hc {
  border-style: solid;
}
.bs-none-hc {
  border-style: none;
}
.bls-dotted-hc {
  border-left-style: dotted;
}
.bls-dashed-hc {
  border-left-style: dashed;
}
.bls-solid-hc {
  border-left-style: solid;
}
.bls-none-hc {
  border-left-style: none;
}
.brs-dotted-hc {
  border-right-style: dotted;
}
.brs-dashed-hc {
  border-right-style: dashed;
}
.brs-solid-hc {
  border-right-style: solid;
}
.brs-none-hc {
  border-right-style: none;
}
.bts-dotted-hc {
  border-top-style: dotted;
}
.bts-dashed-hc {
  border-top-style: dashed;
}
.bts-solid-hc {
  border-top-style: solid;
}
.bts-none-hc {
  border-top-style: none;
}
.bbs-dotted-hc {
  border-bottom-style: dotted;
}
.bbs-dashed-hc {
  border-bottom-style: dashed;
}
.bbs-solid-hc {
  border-bottom-style: solid;
}
.bbs-none-hc {
  border-bottom-style: none;
}
.bw-0-hc {
  border-width: 0;
}
.bw-1-hc {
  border-width: var(--mg-bw-1);
}
.bw-2-hc {
  border-width: var(--mg-bw-2);
}
.bw-3-hc {
  border-width: var(--mg-bw-3);
}
.bw-4-hc {
  border-width: var(--mg-bw-4);
}
.bw-5-hc {
  border-width: var(--mg-bw-5);
}
.blw-0-hc {
  border-left-width: 0;
}
.blw-1-hc {
  border-left-width: var(--mg-bw-1);
}
.blw-2-hc {
  border-left-width: var(--mg-bw-2);
}
.blw-3-hc {
  border-left-width: var(--mg-bw-3);
}
.blw-4-hc {
  border-left-width: var(--mg-bw-4);
}
.blw-5-hc {
  border-left-width: var(--mg-bw-5);
}
.brw-0-hc {
  border-right-width: 0;
}
.brw-1-hc {
  border-right-width: var(--mg-bw-1);
}
.brw-2-hc {
  border-right-width: var(--mg-bw-2);
}
.brw-3-hc {
  border-right-width: var(--mg-bw-3);
}
.brw-4-hc {
  border-right-width: var(--mg-bw-4);
}
.brw-5-hc {
  border-right-width: var(--mg-bw-5);
}
.btw-0-hc {
  border-top-width: 0;
}
.btw-1-hc {
  border-top-width: var(--mg-bw-1);
}
.btw-2-hc {
  border-top-width: var(--mg-bw-2);
}
.btw-3-hc {
  border-top-width: var(--mg-bw-3);
}
.btw-4-hc {
  border-top-width: var(--mg-bw-4);
}
.btw-5-hc {
  border-top-width: var(--mg-bw-5);
}
.bbw-0-hc {
  border-bottom-width: 0;
}
.bbw-1-hc {
  border-bottom-width: var(--mg-bw-1);
}
.bbw-2-hc {
  border-bottom-width: var(--mg-bw-2);
}
.bbw-3-hc {
  border-bottom-width: var(--mg-bw-3);
}
.bbw-4-hc {
  border-bottom-width: var(--mg-bw-4);
}
.bbw-5-hc {
  border-bottom-width: var(--mg-bw-5);
}
.shadow-1-hc {
  box-shadow: rgb(135, 135, 135) 1px 1px 4px 0px;
}
.shadow-2-hc {
  box-shadow: rgb(135, 135, 135) 1px 1px 10.64px 0px;
}
.shadow-3-hc {
  box-shadow: rgb(135, 135, 135) 1px 1px 15.022px 0px;
}
.shadow-4-hc {
  box-shadow: rgb(135, 135, 135) 1px 1px 22.297px 0px;
}
.shadow-5-hc {
  box-shadow: rgb(135, 135, 135) 1px 1px 34.373px 0px;
}
.shadow-6-hc {
  box-shadow: rgb(135, 135, 135) 1px 1px 54.419px 0px;
}
.shadow-none-hc {
  box-shadow: none;
}
.inset-shadow-1-hc {
  box-shadow: rgb(106, 106, 106) 1px 1px 4px -1px inset;
}
.inset-shadow-2-hc {
  box-shadow: rgb(106, 106, 106) 1px 1px 5.52px -1.043px inset;
}
.inset-shadow-3-hc {
  box-shadow: rgb(106, 106, 106) 1px 1px 8.195px -1.193px inset;
}
.inset-shadow-4-hc {
  box-shadow: rgb(106, 106, 106) 1px 1px 12.903px -1.485px inset;
}
.inset-shadow-5-hc {
  box-shadow: rgb(106, 106, 106) 1px 1px 21.190px -1.986px inset;
}
.inset-shadow-6-hc {
  box-shadow: rgb(106, 106, 106) 1px 1px 35.774px -2.802px inset;
}
.inset-shadow-none-hc {
  box-shadow: none;
}
.o-10-hc {
  opacity: 10%;
}
.o-20-hc {
  opacity: 20%;
}
.o-25-hc {
  opacity: 25%;
}
.o-30-hc {
  opacity: 30%;
}
.o-40-hc {
  opacity: 40%;
}
.o-50-hc {
  opacity: 50%;
}
.o-60-hc {
  opacity: 60%;
}
.o-70-hc {
  opacity: 70%;
}
.o-75-hc {
  opacity: 75%;
}
.o-80-hc {
  opacity: 80%;
}
.o-90-hc {
  opacity: 90%;
}
.o-100-hc {
  opacity: 100%;
}
.o-third-hc {
  opacity: calc(100% / 3);
}
.o-two-thirds-hc {
  opacity: calc(100% / 1.5);
}
.cursor-default-hc {
  cursor: default;
}
.pointer-hc {
  cursor: pointer;
}
.cursor-pointer-hc {
  cursor: pointer;
}
.cursor-progress-hc {
  cursor: progress;
}
.cursor-move-hc {
  cursor: move;
}
.cursor-grab-hc {
  cursor: grab;
}
.z-hc {
  z-index: 0;
}
.z-1-hc {
  z-index: 1;
}
.z-2-hc {
  z-index: 2;
}
.z-3-hc {
  z-index: 3;
}
.z-4-hc {
  z-index: 4;
}
.z-5-hc {
  z-index: 5;
}
.z-9999-hc {
  z-index: 9999;
}
.z-auto-hc {
  z-index: auto;
}
}
