<!doctype html>
<%
let fullTitle = title
if (fullTitle) {
  if ( (typeof subtitle !== "undefined") && subtitle) {
    fullTitle = fullTitle + " - " + subtitle
  }
}
%>
<html lang="en">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta content="Website for Melange CSS">

    <meta content="Melange CSS <%= fullTitle %>" name="og:title">
    <meta content="website" name="og:type">

    <title>
      MelangeCSS
      <% if (title) { %>
        - <%= title %>
      <% } %>
      <% if ( (typeof subtitle !== "undefined") && subtitle) { %>
        - <%= subtitle %>
      <% } %>
    </title>
    <link href="melange.css" rel="stylesheet" />
  </head>
  <body class="ff-serif pa0 ma0 bg-orange-lightest black-ish">
    <header>
      <div class="bg-black-ish orange-lightest pa-3 pt-4">
        <div class="w-60-ns w-90 mh-auto">
          <h1 class="tc tl-ns f-5 f-6-ns ma-0 mb-3">
            <a href="index.html" class="tdn orange-lightest">
              MelangeCSS
            </a>
          </h1>
          <% if (title && ( typeof showTitleInNav === "undefined" || showTitleInNav)) { %>
          <h2 class="tc tl-ns f-4 f-5-ns ma-0 mb-3">
            <%= title %>
            <% if ( (typeof subtitle !== "undefined") && subtitle) { %>
            - <%= subtitle %>
            <% } %>
          </h2>
          <% } %>
        </div>
      </div>
      <div class="bg-orange-darkest orange-lightest pa-3">
        <nav class="w-60-ns w-90 mh-auto">
          <div class="flex flex-wrap items-baseline justify-start-ns justify-center">
            <a href="index.html" class="lh-copy db w-100 tc w-auto-ns tl-ns di-ns orange-lightest f-3 mb-3 mb-0-ns">Homepage</a>
            <span role="none" class="lh-copy di-ns dn mh-2 fw-1 f-1">&bull;</span>
            <a href="get-started.html" class="lh-copy db w-100 tc w-auto-ns tl-ns di-ns orange-lightest f-3 mb-3 mb-0-ns">Getting Started</a>
            <span role="none" class="lh-copy di-ns dn mh-2 fw-1 f-1">&bull;</span>
            <a href="guide.html" class="lh-copy db w-100 tc w-auto-ns tl-ns di-ns orange-lightest f-3 mb-3 mb-0-ns">Guide</a>
            <span role="none" class="lh-copy di-ns dn mh-2 fw-1 f-1">&bull;</span>
            <a href="reference/index.html" class="lh-copy db w-100 tc w-auto-ns tl-ns di-ns orange-lightest f-3 mb-3 mb-0-ns">Reference</a>
            <span role="none" class="lh-copy di-ns dn mh-2 fw-1 f-1">&bull;</span>
            <a href="components.html" class="lh-copy db w-100 tc w-auto-ns tl-ns di-ns orange-lightest f-3 mb-3 mb-0-ns">Component Gallery</a>
            <span role="none" class="lh-copy di-ns dn mh-2 fw-1 f-1">&bull;</span>
            <a href="why.html" class="lh-copy db w-100 tc w-auto-ns tl-ns di-ns orange-lightest f-3">But Why?</a>
          </div>
        </nav>
      </div>
    </header>
    <main>
