<%- include( "/_header.html", { title: "Get Started" } ) %>
<section class="pa-1 w-90 w-60-ns mh-auto">
<p class="f-3 measure-wide lh-copy">
  <span class="fv-sc tracked">MelangeCSS</span> can be installed in a few ways, depending on your needs:
</p>
<ul class="ma-0 pa-0 lsp-inside bb bc-orange-darkest pb-3">
  <li><a href="#cdn" class="blue-darkest">CDN or Direct Download</a></li>
  <li><a href="#custom" class="blue-darkest">Customize CSS Variables</a></li>
  <li><a href="#npm" class="blue-darkest">NPM</a></li>
</ul>
<ul class="lst-none ma-0 pa-0">
  <li>
    <a name="cdn"></a>
    <h3 class="f-3 fw-bold tc tl-ns">CDN / Download</h3>
    <p class="measure-wide lh-copy">
      You can use <code>melange.css</code> directly from the CDN by adding this line to the <code>&lt;head&gt;</code> section of any HTML file:
    </p>
    <code class="db bg-black white ph-3 pv-1 br-2 ws-pre overflow-x-scroll lh-copy">
&lt;link rel="stylesheet"
      href="https://unpkg.com/melange-css@1.0.0-alpha3/melange.min.css"/&gt;
    </code>
    <p class="measure-wide lh-copy">
      You can avoid the runtime dependency on <code>unpkg.com</code> by downloading the file to your project via <code>curl</code>:
    </p>
    <code class="db bg-black white ph-3 pv-1 br-2 ws-pre overflow-x-scroll lh-copy">
curl https://unpkg.com/melange-css@1.0.0-alpha3/melange.min.css &gt; \
     your/project/css/melange.css
    </code>
    <p class="measure-wide lh-copy">
      This is the quickest way to get started and works create if you are satisfied with the default fonts, colors, and spacings.
    </p>
  </li>
  <li>
    <a name="custom"></a>
    <h3 class="f-3 fw-bold tc tl-ns">Customize with CSS Variables</h3>
    <p class="measure-wide lh-copy">
      If you want to change fonts, sizes, or colors, first download the default set of CSS variables to your project with <code>curl</code>:
    </p>
    <code class="db bg-black white ph-3 pv-1 br-2 ws-pre overflow-x-scroll lh-copy">
curl https://unpkg.com/melange-css@1.0.0-alpha3/melange-variables-only.css &gt; \
     your/project/css/melange-variables.css
    </code>
    <p class="measure-wide lh-copy">
      Next, add the “styles only” version to your project either via CDN or direct download:
    </p>
    <code class="db bg-black white ph-3 pv-1 br-2 ws-pre overflow-x-scroll lh-copy">
&lt;link rel="stylesheet"
      href="https://unpkg.com/melange-css@1.0.0-alpha3/melange-styles-only.css"/&gt;
    </code>
    <p class="measure-wide lh-copy tc tl-ns">
      or
    </p>
    <code class="db bg-black white ph-3 pv-1 br-2 ws-pre overflow-x-scroll lh-copy">
curl https://unpkg.com/melange-css@1.0.0-alpha3/melange-styles-only.css &gt; \
     your/project/css/melange-styles-only.css
    </code>
    <p class="measure-wide lh-copy">
      Then, include both files in your HTML. Modify <code>melange-variables.css</code> to meet your needs.
    </p>
  </li>
  <li>
    <a name="npm"></a>
    <h3 class="f-3 fw-bold tc tl-ns">Use NPM</h3>
    <code class="db bg-black white ph-3 pv-1 br-2 ws-pre overflow-x-scroll lh-copy">
npm install --save melange-css
    </code>
    <p class="measure-wide lh-copy">
      This will put the files in your <code>node_modules</code> folder, and you can use your app's asset pipeline to bring in the files you want.  Either bring in <code>melange.css</code> to use the defaults, or copy <code>melange-variables-only.css</code> to your app (and customize it) and bring in <code>melange-styles-only.css</code> to your app.
    </p>
    <p class="measure-wide lh-copy">
      How you do this depends on how you are managing CSS.
    </p>
  </li>
</ul>
</section>
<article class="pa-3 bg-blue-darkest blue-lightest mh-auto pv-4">
  <a href="guide.html" class="db f-4 tc blue-lightest">Check out the Guide</a>
</article>
<%- include( "/_footer.html") %>
