<%- include( "/_header.html", { title: "Get Started" } ) %>
<section class="pa-1 w-90 w-60-ns mh-auto">
  <p class="f-3 p">
    <span class="fv-sc tracked">MelangeCSS</span> can be installed in a few ways, depending on your needs. To get started now, choose which method:
  </p>
  <ul class="ma-0 pa-0 lsp-inside bb bc-orange-300 pb-3">
    <li class="p"><a href="#default-cdn" class="blue-100">CDN</a> (quickest to get started)</li>
    <li class="p"><a href="#default-download" class="blue-100">Download</a> (most stable)</li>
    <li class="p"><a href="#default-npm" class="blue-100">NPM</a> (most compatible with web frameworks)</li>
  </ul>
  <p class="p">
    <span class="fv-sc tracked">MelangeCSS</span> has classes that target breakpoints, for example <code class="ws-nowrap">f-3-ns</code> would set the font size to the third step  of the scale, but only on the <a href="/reference/mediaQueries.html">not-small</a> breakpoint.  <code class="ws-nowrap">bg-purple-200-dm</code> would set the background color to the second-darkest purple, only if the user has set dark mode in their OS settings.
  </p>
  <p class="p">
    You may not need these features, so you start with one of three base stylesheets. You can optionally include add-ons to allow augmenting your base stylesheet classes targeting other media queries. Consult the <a href="/reference/mediaQueries.html">media queries reference</a> for precise definitions.
  </p>
  <table class="collapse w-auto mv-3">
    <thead>
      <tr>
        <th class="tl f-3 pa-2 bb br ws-nowrap">Base Stylesheet</th>
        <th class="tl f-3 pa-2 bb">Included Media Queries</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="pa-2 br"><a class="f-1 f-2-ns blue-400 ws-nowrap" href="#default"><code>melange.css</code></a>
        <td class="pa-2">
          <ul class="pa-0 ma-0 lsp-inside">
            <li class="p">Default</li>
            <li class="p">Medium Breakpoint</li>
            <li class="p">Large Breakpoint</li>
            <li class="p">Not Small Breakpoint</li>
          </ul>
          <p class="mv-1 f-1 i">Dark Mode and High Contrast can each be added-on optionally</p>
        </td>
      </tr>
      <tr>
        <td class="pa-2 bt br"><a class="f-1 f-2-ns blue-400 ws-nowrap" href="#plus"><code>melange-plus.css</code></a>
        <td class="pa-2 bt">
          <ul class="pa-0 ma-0 lsp-inside">
            <li class="p">Default</li>
            <li class="p">Medium Breakpoint</li>
            <li class="p">Large Breakpoint</li>
            <li class="p">Not Small Breakpoint</li>
            <li class="p">Dark Mode</li>
            <li class="p">High Contrast</li>
          </ul>
          <p class="mv-1 f-1 i">This is everything, so no need to use any add-ons.</p>
        </td>
      </tr>
      <tr>
        <td class="pa-2 bt br"><a class="f-1 f-2-ns blue-400 ws-nowrap" href="#thin"><code>melange-thin.css</code></a>
        <td class="pa-2 bt">
          <ul class="pa-0 ma-0 lsp-inside">
            <li class="p">Default</li>
          </ul>
          <p class="mv-1 f-1 i">Default, Medium, Large, Not-Small, Dark Mode, and High Contrast can each be added-on optionally</p>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<%- include("_get_started_download_instructions.html", { file: "melange", id: "default", description: "Default, simplest install. Handles most situations. Can enhance with add-on stylesheets.", inverse: false, addons: { "dark-mode": "Dark Mode", "high-contrast": "High Contrast" } }) %>
<%- include("_get_started_download_instructions.html", { file: "melange-plus", id: "plus", description: "Largest install, has everything. No need for add-ons.", inverse: true, addons: false }) %>
<%- include("_get_started_download_instructions.html", { file: "melange-thin", id: "thin", description: "Smallest install. Best for internal apps that don't need breakpoints. Can enhance with add-on stylesheets.", inverse: false, addons: {
             "dark-mode": "Dark Mode",
             "high-contrast": "High Contrast",
             "large-breakpoint": "Large Breakpoint",
             "medium-breakpoint": "Medium Breakpoint",
             "not-small-breakpoint": "Not-small Breakpoint (targets both Large and Medium)",
             }}) %>
<article class="pa-3 bg-blue-100 blue-900 mh-auto pv-4">
  <a href="guide.html" class="db w-90 w-60-ns mh-auto f-4 tc tl-ns blue-900">Check out the Guide</a>
</article>
<%- include( "/_footer.html") %>
