<%- include( "/_header.html", { title: "Guide", subtitle: "Intro" } ) %>
  <article class="pa-1 w-90 w-60-ns mh-auto">
    <data id="muad-dib-acd-version" itemprop="ai-content-declaration:version" value="1.0.0-alpha1" />
    <data id="muad-dib-acd-level" itemprop="ai-content-declaration:level" value="creative" />
    <data id="muad-dib-acd-details" itemprop="ai-content-declaration:details" value="Face was created by AI, eyes were colored by me" />
    <a name="overview"></a>
    <blockquote class="f-4 i tr lh-title fw-3"><span class="f-6">“</span>
      A beginning is a very delicate time
    </blockquote>
    <p class="measure lh-copy">
      Let's style something with <span class="fv-sc tracked">MelangeCSS</span>.  We'll make the so-called “media component” that looks like this:
    </p>
    <div class="bg-white debug-grid pa-3">
      <div class="ba ma-2 br-2">
        <div class="flex items-center justify-start pa-2">
          <img src="muad-dib.png" class="db w-5 h-5 ba br-3 mr-2" itemref="muad-dib-acd-level muad-dib-acd-version muad-dib-acd-details"/>
          <div class="w-auto ml-2">
            <div class="f-4">Paul Muad'Dib</div>
          </div>
        </div>
        <div class="pa-2 bg-black white">
          <div class="f-3 i lh-copy">Emperor of the Known Universe</div>
          <div><a href="https://arrakis.planet" class="f-1 blue-900">arrakis.planet</a></div>
        </div>
      </div>
    </div>
    <p class="measure lh-copy">
      If you do not know how to create these using CSS, <span class="fv-sc tracked">MelangeCSS</span> will not be able to help you do that.  But, if you do, Melange should make it easier.
    </p>
    <p class="measure lh-copy">
      First, let's get some markup going and try to use semantic tags where we can (we'll assume there are some other <code>h1</code>, <code>h2</code>, and <code>h3</code> tags on the page):
    </p>
    <code class="db br-3 ph-2 pv-3 bg-black orange-900 lh-copy ws-pre mh-auto">&lt;img src="muad-dib.png" width="150" height="150" /&gt;
&lt;h4&gt;Paul Muad'Dib&lt;/h4&gt;
&lt;h5&gt;Emperor of the Known Universe&lt;/h5&gt;
&lt;a href="https://arrakis.planet"&gt;arrakis.planet&lt;/a&gt;</code>
    <div class="bg-white debug-grid pa-3">
      <img src="muad-dib.png" width="150" height="150" itemref="muad-dib-acd-level muad-dib-acd-version muad-dib-acd-details"/>
      <h4>Paul Muad'Dib</h4>
      <h5>Emperor of the Known Universe</h5>
      <a href="https://arrakis.planet">arrakis.planet</a>
    </div>
    <p class="measure lh-copy">
      Let's place things where they should go.  There are a lot of ways to achieve this, but we'll use flexbox.  We'll put a <code>div</code> around the image and name and have those align themselves along the center.  We'll also put the entire thing in a <code>div</code> since we know we need a border later.
    </p>
    <code class="db br-3 ph-2 pv-3 bg-black orange-900 lh-copy ws-pre mh-auto">&lt;div&gt;
  &lt;div class="<span class="ba dib pa-1 ba dib pa-1 tdu fw-bold">flex items-center</span>"&gt;
    &lt;img src="muad-dib.png" width="150" height="150" /&gt;
    &lt;h4&gt;Paul Muad'Dib&lt;/h4&gt;
  &lt;/div&gt;
  &lt;h5&gt;Emperor of the Known Universe&lt;/h5&gt;
  &lt;a href="https://arrakis.planet"&gt;arrakis.planet&lt;/a&gt;
&lt;/div&gt;</code>
    <div class="bg-white debug-grid pa-3">
      <div>
        <div class="flex items-center">
          <img src="muad-dib.png" width="150" height="150" itemref="muad-dib-acd-level muad-dib-acd-version muad-dib-acd-details"/>
          <h4>Paul Muad'Dib</h4>
        </div>
        <h5>Emperor of the Known Universe</h5>
        <a href="https://arrakis.planet">arrakis.planet</a>
      </div>
    </div>
    <p class="measure lh-copy">
      The font sizes are all wrong, now.  Let's fix that.  Note that unlike normal CSS or TailwindCSS, <span class="fv-sc tracked">MelangeCSS</span> only provides a few sizes for text.  Size 1 is the smallest, 2 is the body font size, and 7 is the largest.  Let's try changing the sizes. The title also needs to be in italics.
    </p>
    <code class="db br-3 ph-2 pv-3 bg-black orange-900 lh-copy ws-pre mh-auto">&lt;div&gt;
  &lt;div class="flex items-center"&gt;
    &lt;img src="muad-dib.png" width="150" height="150" /&gt;
    &lt;h4 class="<span class="ba dib pa-1 tdu fw-bold">f-5</span>"&gt;Paul Muad'Dib&lt;/h4&gt;
  &lt;/div&gt;
  &lt;h5 class="<span class="ba dib pa-1 tdu fw-bold">f-3 i</span>"&gt;Emperor of the Known Universe&lt;/h5&gt;
  &lt;a href="https://arrakis.planet"&gt;arrakis.planet&lt;/a&gt;
&lt;/div&gt;</code>
    <div class="bg-white debug-grid pa-3">
      <div>
        <div class="flex items-center">
          <img src="muad-dib.png" width="150" height="150" itemref="muad-dib-acd-level muad-dib-acd-version muad-dib-acd-details"/>
          <h4 class="f-5">Paul Muad'Dib</h4>
        </div>
        <h5 class="f-3 i">Emperor of the Known Universe</h5>
        <a href="https://arrakis.planet">arrakis.planet</a>
      </div>
    </div>
    <p class="measure lh-copy">
      The name is too large, let's change that to <code>f-4</code>.  While we're at it, let's fix the image size and the spacing between it and the name.  <span class="fv-sc tracked">MelangeCSS</span> provides a size scale from 1 (smallest) to 7 (largest).  For the image, let's try the fourth step for its dimensions.  We'll use the second step for space between, using the left margin to create that space.
    </p>
    <code class="db br-3 ph-2 pv-3 bg-black orange-900 lh-copy ws-pre mh-auto">&lt;div&gt;
  &lt;div class="flex items-center"&gt;
    &lt;img src="muad-dib.png" class="<span class="ba dib pa-1 tdu fw-bold">w-4 h-4</span>" /&gt;
    &lt;h4 class="<span class="ba dib pa-1 tdu fw-bold">f-4 ml-2</span>"&gt;Paul Muad'Dib&lt;/h4&gt;
  &lt;/div&gt;
  &lt;h5 class="f-3 i"&gt;Emperor of the Known Universe&lt;/h5&gt;
  &lt;a href="https://arrakis.planet"&gt;arrakis.planet&lt;/a&gt;
&lt;/div&gt;</code>
    <div class="bg-white debug-grid pa-3">
      <div>
        <div class="flex items-center">
          <img src="muad-dib.png" class="w-4 h-4" itemref="muad-dib-acd-level muad-dib-acd-version muad-dib-acd-details"/>
          <h4 class="f-4 ml-2">Paul Muad'Dib</h4>
        </div>
        <h5 class="f-3 i">Emperor of the Known Universe</h5>
        <a href="https://arrakis.planet">arrakis.planet</a>
      </div>
    </div>
    <p class="measure lh-copy">
      The image is now too small, so let's try the fifth step of the scale.  We'll also add the border radius. There is a scale for that, too, so we'll try the third one.
    </p>
    <code class="db br-3 ph-2 pv-3 bg-black orange-900 lh-copy ws-pre mh-auto">&lt;div&gt;
  &lt;div class="flex items-center"&gt;
    &lt;img src="muad-dib.png" class="<span class="ba dib pa-1 tdu fw-bold">w-5 h-5 br-3</span>" /&gt;
    &lt;h4 class="f-4 ml-2"&gt;Paul Muad'Dib&lt;/h4&gt;
  &lt;/div&gt;
  &lt;h5 class="f-3 i"&gt;Emperor of the Known Universe&lt;/h5&gt;
  &lt;a href="https://arrakis.planet"&gt;arrakis.planet&lt;/a&gt;
&lt;/div&gt;</code>
    <div class="bg-white debug-grid pa-3">
      <div>
        <div class="flex items-center">
          <img src="muad-dib.png" class="w-5 h-5 br-3" itemref="muad-dib-acd-level muad-dib-acd-version muad-dib-acd-details"/>
          <h4 class="f-4 ml-2">Paul Muad'Dib</h4>
        </div>
        <h5 class="f-3 i">Emperor of the Known Universe</h5>
        <a href="https://arrakis.planet">arrakis.planet</a>
      </div>
    </div>
    <p class="measure lh-copy">
      Hopefully, you can see how this works.  Let's fix a few more things.  We need to make the title and link on black background, and the text needs to be closer together. We'll use margins for that.
    </p>
    <code class="db br-3 ph-2 pv-3 bg-black orange-900 lh-copy ws-pre mh-auto">&lt;div&gt;
  &lt;div class="flex items-center"&gt;
    &lt;img src="muad-dib.png" class="w-5 h-5 br-3" /&gt;
    &lt;h4 class="f-4 ml-2"&gt;Paul Muad'Dib&lt;/h4&gt;
  &lt;/div&gt;
  <span class="ba dib pa-1 tdu fw-bold">&lt;div class="bg-black white pa-2"&gt;</span>
    &lt;h5 class="<span class="ba dib pa-1 tdu fw-bold">f-3 i mv-2</span>"&gt;Emperor of the Known Universe&lt;/h5&gt;
    &lt;a class="<span class="ba dib pa-1 tdu fw-bold">blue-600</span>" href="https://arrakis.planet"&gt;arrakis.planet&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
    <div class="bg-white debug-grid pa-3">
      <div>
        <div class="flex items-center">
          <img src="muad-dib.png" class="w-5 h-5 br-3" itemref="muad-dib-acd-level muad-dib-acd-version muad-dib-acd-details"/>
          <h4 class="f-4 ml-2">Paul Muad'Dib</h4>
        </div>
        <div class="bg-black white pa-2">
          <h5 class="f-3 i mv-2">Emperor of the Known Universe</h5>
          <a class="blue-600" href="https://arrakis.planet">arrakis.planet</a>
        </div>
      </div>
    </div>
    <p class="measure lh-copy">
      Now, let's surround the entire thing with a border and use the same radius we used for the image.
    </p>
    <code class="db br-3 ph-2 pv-3 bg-black orange-900 lh-copy ws-pre mh-auto">&lt;div class="<span class="ba dib pa-1 tdu fw-bold">ba br-3</span>"&gt;
  &lt;div class="flex items-center"&gt;
    &lt;img src="muad-dib.png" class="w-5 h-5 br-3" /&gt;
    &lt;h4 class="f-4 ml-2"&gt;Paul Muad'Dib&lt;/h4&gt;
  &lt;/div&gt;
  &lt;div class="bg-black white pa-2"&gt;
    &lt;h5 class="f-3 i mv-2"&gt;Emperor of the Known Universe&lt;/h5&gt;
    &lt;a class="blue-600" href="https://arrakis.planet"&gt;arrakis.planet&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
    <div class="bg-white debug-grid pa-3">
      <div class="ba br-3">
        <div class="flex items-center">
          <img src="muad-dib.png" class="w-5 h-5 br-3" itemref="muad-dib-acd-level muad-dib-acd-version muad-dib-acd-details"/>
          <h4 class="f-4 ml-2">Paul Muad'Dib</h4>
        </div>
        <div class="bg-black white pa-2">
          <h5 class="f-3 i mv-2">Emperor of the Known Universe</h5>
          <a class="blue-600" href="https://arrakis.planet">arrakis.planet</a>
        </div>
      </div>
    </div>
    <p class="measure lh-copy">
      We can clean this up with some additional border radius and spacing.
    </p>
    <code class="db br-3 ph-2 pv-3 bg-black orange-900 lh-copy ws-pre mh-auto">&lt;div class="ba br-3"&gt;
    &lt;div class="flex items-center <span class="ba dib pa-1 tdu fw-bold">pa-2</span>"&gt;
    &lt;img src="muad-dib.png" class="w-5 h-5 br-3" /&gt;
    &lt;h4 class="f-4 ml-2"&gt;Paul Muad'Dib&lt;/h4&gt;
  &lt;/div&gt;
  &lt;div class="bg-black white pa-2 <span class="ba dib pa-1 tdu fw-bold">br-bottom-3</span>"&gt;
    &lt;h5 class="f-3 i mv-2"&gt;Emperor of the Known Universe&lt;/h5&gt;
    &lt;a class="blue-600" href="https://arrakis.planet"&gt;arrakis.planet&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
    <div class="bg-white debug-grid pa-3">
      <div class="ba br-3">
        <div class="flex items-center pa-2">
          <img src="muad-dib.png" class="w-5 h-5 br-3" itemref="muad-dib-acd-level muad-dib-acd-version muad-dib-acd-details"/>
          <h4 class="f-4 ml-2">Paul Muad'Dib</h4>
        </div>
        <div class="bg-black white pa-2 br-bottom-3">
          <h5 class="f-3 i mv-2">Emperor of the Known Universe</h5>
          <a class="blue-600" href="https://arrakis.planet">arrakis.planet</a>
        </div>
      </div>
    </div>
    <p class="measure lh-copy">
      This looks pretty close.  If you were following along, change some of the spacings. You'll notice that everything still looks relatively cohesive.  This is the advantage of the grid-based design system.
    </p>
    <p class="measure lh-copy">
      Also note that there are a lot of ways to achieve this design—<span class="fv-sc tracked">MelangeCSS</span> doesn't prescribe any particular way.  But do note that we didn't write any CSS nor did we have to leave our HTML <strong>and</strong> you can reliably predict how the elements will be styled by just looking at them. There's no need to refer to another file or files.
    </p>

  </article>
<%- include( "/_footer.html") %>
