<%- include( "/_header.html", { title: "" } ) %>
<section class="pa-2">
  <h2 class="tc f-6 ttu tracked">Utility CSS for Developers</h2>
  <%- include("_icon_box.html", {
      icon: "cluster-data-icon.svg",
      color: "",
      bgColor: "bg-blue-800 br-4",
      content: "Iterate quickly by using terse, single-purpose utility classes <span class='ws-nowrap'>(but <strong class='fw-6'>not too many</strong>).</span>"
  }) %>
  <%- include("_icon_box.html", {
      icon: "interface-layout-rightside-blocks-icon.svg",
      color: "",
      bgColor: "bg-gray-800 br-4",
      content: "Get a usable design faster via the grid-based design system. You don't need 20 font sizes and 48 shades of blue.",
  }) %>
  <%- include("_icon_box.html", {
      icon: "laundry-do-not-iron-icon.svg",
      color: "",
      bgColor: "bg-orange-800 br-4",
      content: "No build step and no dependencies. It's just custom properties and a stylesheet.",
  }) %>
  <%- include("_icon_box.html", {
      icon: "conclusion-icon.svg",
      color: "",
      bgColor: "bg-purple-800 br-4",
      content: "No mini-languges, no DSLs, no nonsense. Class names are based on initialisms and convention, quickly learned."
  }) %>
  <%- include("_icon_box.html", {
      icon: "extension-icon.svg",
      color: "",
      bgColor: "bg-green-800 br-4",
      content: "Simple customization options without a complex toolchain or dependencies.",
  }) %>

</section>
<article class="pa-3 bg-white mh-auto">
  <div class="w-auto mv-4 flex flex-column flex-row-ns items-center justify-center gap-2">
    <code class="f-1 db overflow-x-scroll w-100 w-auto-ns ws-pre pa-3 br-2 bg-black amber-terminal lh-copy">&lt;button
  style="display: inline-block;
         padding-left: var(--mg-sp-4); padding-right: var(--mg-sp-4);
         padding-top: var(--mg-sp-3);  padding-bottom: var(--mg-sp-3);
         text-align: center;
         font-size: var(--mg-fs-3);
         border: all;
         border-radius: var(--mg-sw-3);
         background-color: var(--mg-blue-900);
         color: var(--mg-blue-100);
         cursor: pointer
         box-shadow: 1px 1px 2px 1px rgba( 0, 0, 0, 0.2 );
  "&gt;
    Make Spice Flow
&lt;/button&gt;</code>
    <code class="f-1 db ws-pre pa-3 br-2 w-100 w-auto-ns bg-black green-terminal lh-copy">&lt;button
  class="dib
         ph-4
         pv-3
         tc
         f-3
         ba
         br-3
         bg-blue-900
         blue-100
         pointer
         shadow-1
   "&gt;
    Make Spice Flow
&lt;/button&gt;</code>
  </div>
  <div class="mh-auto tc">
    <button class="dib pointer ph-4 pv-3 tc f-3 ba br-3 bg-blue-900 blue-100 bc-blue-100 shadow-1">Make Spice Flow</button>
  </div>
</article>
<article class="pa-3 pv-4 bg-orange-100 orange-900 mh-auto">
    <h3 class="lh-title tc ttu tracked f-4 mv-1">Install</h3>
    <h4 class="lh-title tc mt-4 f-2 ttu mb-0">CDN</h4>
    <code class="f-1 db bg-black green-terminal ba bc-green-500 pa-3 br-2 ws-pre overflow-x-scroll lh-copy mv-2">&lt;link rel="stylesheet" href="https://unpkg.com/melange-css@<%= version %>/melange.min.css"/&gt;</code>
    <h4 class="lh-title tc f-2 ttu mb-0">Download</h4>
    <code class="f-1 db bg-black green-terminal ba bc-green-500 pa-3 br-2 ws-pre overflow-x-scroll lh-copy mv-2">curl https://unpkg.com/melange-css@<%= version %>/melange.css &gt; melange.css</code>
    <h4 class="lh-title tc f-2 ttu mb-0">NPM</h4>
    <code class="f-1 db bg-black green-terminal ba bc-green-500 pa-3 br-2 ws-pre overflow-x-scroll lh-copy mv-2">npm install --save melange-css</code>
</article>
<article class="pa-3 bg-blue-900 orange-200 mh-auto">
  <h3 class="lh-title f-4 tc ttu tracked ">Features</h3>
  <%- include("_icon_box.html", { icon: "file-line-icon.svg", color: "blue-200", bgColor: "bg-orange-900 shadow-1", 
      content: "A single <code>.css</code> file with custom variables you can override using regular CSS. <strong>No build step.</strong>"})%>
  <%- include("_icon_box.html", { icon: "desktop-mobile-icon.svg", color: "blue-200", bgColor: "bg-orange-800 shadow-2", 
      content: "Three breakpoints allow you to create responsive designs right from your HTML. Optional dark mode and high-contrast media queries."})%>
  <%- include("_icon_box.html", { icon: "text-align-left-outline-icon.svg", color: "blue-200", bgColor: "bg-orange-700 shadow-3", 
      content: "Works with <code>.css</code> you have, and isn't designed to replace it."} ) %>
  <%- include("_icon_box.html", { icon: "thunder-icon.svg", color: "orange-800", bgColor: "bg-blue-300 shadow-3", 
      content: "Classnames use a consistent naming convention. It's based on CSS properties and can be quickly internalized. You'll be typing faster than any automcomplete or LLM." }) %>
  <%- include("_icon_box.html", { icon: "pencil-ruler-icon.svg", color: "orange-800", bgColor: "bg-blue-200 shadow-2", 
      content: "Everything is based on modular scales for fonts, sizing, and spacing. Quickly find the right one for your UI, and know that everything will work well together." }) %>
  <%- include("_icon_box.html", { icon: "settings-line-icon.svg", color: "orange-800", bgColor: "bg-blue-100 shadow-1", 
      content: "Customize anything by setting CSS properties - no special configuration language needed." }) %>
  <%- include("_icon_box.html", { icon: "extension-icon.svg", color: "gray-900", bgColor: "bg-gray-100", 
      content: "Add your own classes and have MelangeCSS create versions for each media query or pseudo class." }) %>
</article>
<article class="pa-3 bg-orange-100 blue-800 mh-auto">
  <h3 class="lh-title f-4 tc"><span class="fv-sc tracked">MelangeCSS</span> Isn't For Everyone</h3>
  <p class="f-3 measure lh-copy mh-auto">
    <span class="fv-sc tracked">MelangeCSS</span> works great when…
  </p>
  <ul class="ma-0 pa-0 lst-none">
    <li class="measure lh-copy mh-auto mb-2">
      …you are building a web application.
    </li>
    <li class="measure lh-copy mh-auto mb-2">
      …your team knows CSS and builds the complete solution from front-end to back-end.
    </li>
    <li class="measure lh-copy mh-auto mb-2">
      …your designers don't hand you screenshots of apps, but instead provide visual treatments you can use to create defensively-designed components and screens.
    </li>
    <li class="measure lh-copy mh-auto mb-2">
      …you are designing, styling, and building as you go…and you want to go fast.
    </li>
  </ul>
  <p class="f-3 measure lh-copy mh-auto">
    <span class="fv-sc tracked">MelangeCSS</span> isn't right for you if…
  </p>
  <ul class="ma-0 pa-0 lst-none">
    <li class="measure lh-copy mh-auto mb-2">
      …your designers hand you screenshots for you to produce with pixel-perfect fidelity.
    </li>
    <li class="measure lh-copy mh-auto mb-2">
      …you have a dedicated front-end team that styles semantic markup produced by others.
    </li>
    <li class="measure lh-copy mh-auto mb-2">
      …you can't control the markup.
    </li>
    <li class="measure lh-copy mh-auto mb-2">
      …you are writing HTML directly with no templating system or web framework.
    </li>
  </ul>
</article>
<article class="pa-3 bg-blue-100 blue-900 mh-auto pv-4">
  <a href="get-started.html" class="db f-4 tc blue-900">Get Started</a>
</article>
<%- include( "/_footer.html") %>
