<%- include( "/_header.html", { title: "But…Why?" } ) %>
<section class="pa-1 w-90 w-60-ns mh-auto pb-4">
  <nav class="flex flex-wrap items-baseline gap-2 pv-3 bb bc-orange-700">
    <a href="#utility" class="f-2 fw-bold blue-400 lh-copy">Why Utility Classes?</a>
    <span role="none">&bull;</span>
    <a href="#design" class="f-2 fw-bold blue-400 lh-copy">Why Only a Few Values?</a>
    <span role="none">&bull;</span>
    <a href="#tailwind" class="f-2 fw-bold blue-400 lh-copy">Why not Tailwind?</a>
    <span role="none">&bull;</span>
    <a href="#tachyons" class="f-2 fw-bold blue-400 lh-copy">Why not Tachyons?</a>
  </nav>
  <article>
    <a name="utility"></a>
    <h3 class="f-4">Why Utility Classes?</h3>
    <p class="measure lh-copy">
      If you have never used a CSS library like this, it probably seems ridiculous.  It seems that we are mixing content and presentation, that we are avoiding using CSS as it was intended, creating unsematic markup, or otherwise making a soup of characters that no one could possibly manage. You may also think this is just a short-hand for inline styles.
    </p>
    <p class="measure lh-copy">
      Let's take these one at a time.
    </p>
    <p class="indent--1 ml-3 measure lh-copy">
      <strong>Mixing content and presentation.</strong> There's no denying that placing a class like <code>bg-purple-500</code> inside HTML is putting visual instructions into the markup.  It's worth understanding why this feels like a problem.  If the same markup is intended to produce many different visual representations then, yes, mixing presentation instructions into the markup makes it hard to manage.  When we build web applications, however, we are rarely doing this.
    </p>
    <p class="ml-3 measure lh-copy">
      Most web applications deliver a specific user experience, usually with some slight modifications on different screen sizes.  This is not the “CSS Zen Garden” approach and very few web apps need that.  If they do, <span class="fv-sc tracked">MelangeCSS</span> is not for them.  But for most apps, it turns out that putting styling instructions in the markup makes some things easier.
    </p>
    <p class="ml-3 measure lh-copy">
      When you open an HTML file and see <code class="ws-nowrap">&lt;a href="/" class="blue-400 f-3"&gt;link&lt;/a&gt;</code>, you can see that the link is rendered in the third sized font in the dark blue color.  If, instead, the value for <code>class</code> was something more abstract like <code>primary-link</code> it would be harder to figure out how that link renders in a browser.  Depending on what CSS is included on the page, it could be extremely hard.
    </p>
    <p class="indent--1 ml-3 measure lh-copy">
      <strong>These classes are not semantic.</strong> The <code>class</code> attribute is ignored by most screen readers.  Users who are not viewing your app in a traditional web browser will get semantic information from the tags used.  The app can make use of ARIA roles to further clarify. The <code>class</code> attribute is irrelevant.  There is no reason or benefit to making its value have semantic meaning.  It is entirely a hook for styling.
    </p>
    <p class="indent--1 ml-3 measure lh-copy">
      <strong>The terse names are an unmanageable, nonsensical mess of characters.</strong>  Any verbose code in any programming language can be abstracted or simplified through the use of functional decomposition. <a href="guide-duplication.html" class="blue-400">Your web app is no different</a>.  You can use its templating system to extract re-usable code, when you want, not before.
    </p>
    <p class="ml-3 measure lh-copy">
      The terse class names can be hard to learn at first, because a class like <code>fw-4</code> doesn't seem immediately obvious.  But, if you know CSS, understand <a href="guide-naming-conventions.html" class="blue-400">the naming conventions</a>, and use <span class="fv-sc tracked">MelangeCSS</span> for just a small amount of time, you will learn these class names. <strong>And</strong> you will start to go much faster, because you won't rely on autocomplete or flipping back to the documentation.
    </p>
    <p class="indent--1 ml-3 measure lh-copy">
      <strong>Why not just use inline styles, then?</strong>  <span class="fv-sc tracked">MelangeCSS</span> has four differences from inline styles.
    </p>
    <ul>
      <li><p class="measure lh-copy">
          The class names are far shorter than their analogous CSS properties and values. Even with sophisticated auto-compete, typing out these terse classes is faster.
      </p></li>
      <li><p class="measure lh-copy">
        Inline styles cannot target media queries to allow for responsive design.
      </p></li>
      <li><p class="measure lh-copy">
        Inline styles have a higher specificity, so they can still use used alongside classes if needed.
      </p></li>
      <li><p class="measure lh-copy">
          <em>Most importantly</em>, <strong>Melange includes a grid-based design system</strong>. While you can use custom properties in inline styles, it's far more difficult than using classes based on a design system (based on custom properties).
      </p></li>
    </ul>
    <p class="ml-3 measure lh-copy">
      Being able to design and style by selecting from a small set of values vastly increases the speed at which you can produce styled views.  You can quickly iterate through all possible spacings, font sizes, or widths and choose the one that works.  Yes, you lose the flexibilty of using any of the infinite possible sizes, but you usually don't need that many.
    </p>
    <p class="ml-3 measure lh-copy">
      As a demonstration, here are all the buttons you can make with changes to border radius. Surely, one of these will work for you?
    </p>
    <div class="flex gap-3 flex-wrap items-center">
    <% for(let i of [ "1", "2", "3", "4", "5", "100", "pill" ]) { %>
    <button class="ph-4 pv-3 f-3 fw-6 bg-orange-800 orange-100 ba bc-orange-700 pointer br-<%= i %>">
      Make Spice Flow
    </button>
    <% } %>
    </div>
  </article>
  <article>
    <a name="design"></a>
    <h3 class="f-4">Why Are There Limited Values?</h3>
    <p class="measure lh-copy">
      A utility CSS framework only truly shines when it's coupled with a design system.  That means that for any property whose values are essentially infinite, the design system provides a much smaller subset of values, usually 7 or 8.
    </p>
    <p class="measure lh-copy">
      This means that, when designing and building a UI, you don't have to make nearly as many decisions.  You don't have to decide if text in 12, 13, 14, or 15 points is correct.  You probably will choose between a few sizes: small, body, and larger.
    </p>
    <p class="measure lh-copy">
      Since you are using CSS, you can certainly create special-purpose classes for situations where the design system isn't sufficient.  You can even leverage <span class="fv-sc tracked">MelangeCSS</span>'s naming conventions if you need to add a new step to a scale.
    </p>
    <p class="measure lh-copy">
      If the CSS framework instead allowed any value to be specified with a single-purpose class (which is what TailwindCSS does), the CSS becomes quite large. You will need to design a language to abstract CSS and implement a build step.  Both of these things slow you down and create carrying costs for your project.
    </p>
  </article>
  <article>
    <a name="tailwind"></a>
    <h3 class="f-4">Doesn't TailwindCSS Already Exist?</h3>
    <p class="measure lh-copy">
      TailwindCSS is a popular utitlity-based framework, but it is fundamentally different from <span class="fv-sc tracked">MelangeCSS</span>.  Tailwind allows you to set just about any property and value directly in your HTML.  It achieves this by <strong>not</strong> having a design system <strong>and</strong> by requiring a development-time build step to produce CSS based on classnames like <code>bg-[4477FF]</code>.  This build step must be run on every change of every file that could possibly contain a Tailwind class.
    </p>
    <p class="measure lh-copy">
      Because Tailwind has no design system, it is a very large library.  The build step additionally strips out any classes that aren't used.  This is a nice feature, however it's fragile and slow, especially compared to having no build step at all.
    </p>
    <p class="measure lh-copy">
      This doesn't mean Tailwind is bad, it's just making a different set of tradeoffs.  <span class="fv-sc tracked">MelangeCSS</span> wants to provide a static set of CSS you can use for most situations and with a few dependencies as possible.
    </p>
  </article>
  <article>
    <a name="tachyons"></a>
    <h3 class="f-4">Isn't this Just Tachyons But Slightly Different?</h3>
    <p class="measure lh-copy">
      I am a heavy <a href="https://tachyons.io" class="blue-400">Tachyons</a> user. I love it, but in real projects there are a few things that are difficult:
    </p>
    <ul class="pa-0 ma-0 lsp-outside">
      <li class="measure lh-copy">
        There's no easy way to override the CSS variables without using the SASS version, and I don't want a build step.
      </li>
      <li class="measure lh-copy">
        The class names aren't as consistent as I would like. For example, the largest font size is 1, but the smallest spacing is also 1.
      </li>
      <li class="measure lh-copy">
        Augmenting Tachyons in a specific project with additional classes that leverage both the design system and breakpoints is not easy to do, or at least not as easy as I would like.  For example, if I need an additional color, I'd like that color to conform to Tachyons' naming conventions, but achieving this requires basically hand-jamming all the class names.
      </li>
    </ul>
    <p class="measure lh-copy">
      I considered forking or making PRs for Tachyons to address this stuff, but I don't know if this would benefit Tachyons.  It would certainly break things for existing users and that's never a good thing to do.
    </p>
    <p class="measure lh-copy">
      I also wanted to see what would be involved in having the CSS generated from a model in code, so this started as an experiment in producing a Tachyons-like CSS framework from code.  By the time I had prototyped it, I figured why not complete it?
    </p>
  </article>
</section>
<%- include( "/_footer.html") %>
